@import "src/assets/styles/bases";

%band--img {
  color: $color-project-primary-very-light;
  background: $color-project-primary fixed;
  background-size: cover;
}

$cadre-offset: 7*$size-default;

.band {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4*$size-large;
  padding-top: $size-xmedium;

  &.band--with-cadre {
    margin-bottom: $cadre-offset;
  }

  &.band--default {
    background-color: $color-default-secondary;
    color: $color-default-primary;
  }

  &.band--primary {
    background-color: $color-project-primary;
    color: $color-project-primary-very-light;
  }

  &.band--img {
    @extend %band--img;
  }

  &.band--eye-bonze {
    @extend %band--img;
    background-image: url("src/assets/images/bandeau/overlay.png"), url("src/assets/images/bandeau/bonze-bandeau-1436x312.png") !important;
  }

  &.band--ears-bonze {
    @extend %band--img;
    background-image: url("src/assets/images/bandeau/overlay.png"), url("src/assets/images/bandeau/band_bonze_2.png");
  }

  &.band--mouse-bonze {
    @extend %band--img;
    background-image: url("src/assets/images/bandeau/overlay.png"), url("src/assets/images/bandeau/band_bonze_3.png");
  }

  &.band--roses {
    @extend %band--img;
    background-image: url("src/assets/images/bandeau/overlay.png"), url("src/assets/images/bandeau/IMG_4635_1680x658.png");
  }

  &.band--taichi {
    @extend %band--img;
    background-image: url("src/assets/images/bandeau/overlay.png"), url("src/assets/images/bandeau/taichi_groupe_band.png");
  }

  &.band--stage {
    @extend %band--img;
    background-image: url("src/assets/images/bandeau/stage-taichi_1680x658.png");
  }

  &.band--meditation {
    @extend %band--img;
    background-image: url("src/assets/images/bandeau/IMG_4625_1680x658.jpg");
  }
}

.band__title {
  font-size: 2.5em;
  color: $white;
  text-align: center;
  text-transform: uppercase;
}

.band__cadre {
  background-color: rgba($color-project-tertiary-very-light, .65);
  display: flex;
  justify-content: center;
  width: 60%;
  height: 2*$cadre-offset;
  margin-top: 1.5*$cadre-offset;

  h3 {
    font-size: $txt-size-xxl;
    color: $color-project-tertiary-dark;
    font-weight: $txt-bold-default;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
  }
}
