@import "src/assets/styles/bases";

%band--img {
  color: $color-project-primary-very-light;
  background: $color-project-primary local;
  background-size: cover;

  @media (min-width: $small-desktop-window) {
    background-attachment: fixed;
  }
}

$cadre-offset: 7 * $size-default;

.band {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4 * $size-large;
  padding-top: $size-xmedium;

  &.band--with-cadre {
    margin-bottom: $cadre-offset;
  }

  &.band--default {
    background-color: $color-default-secondary;
    color: $color-default-primary;
  }

  &.band--primary {
    background-color: $color-project-primary;
    color: $color-project-primary-very-light;
  }

  &.band--img {
    @extend %band--img;
  }

  &.band--eye-bonze {
    @extend %band--img;
    background-image: url("/../assets/images/bandeau/overlay.png"),
    url("/../assets/images/bandeau/bonze-bandeau-1436x312.png") !important;
  }

  &.band--ears-bonze {
    @extend %band--img;
    background-image: url("/../assets/images/bandeau/overlay.png"),
    url("/../assets/images/bandeau/band_bonze_2.png");
  }

  &.band--mouse-bonze {
    @extend %band--img;
    background-image: url("/../assets/images/bandeau/overlay.png"),
    url("/../assets/images/bandeau/band_bonze_3.png");
  }

  &.band--roses {
    @extend %band--img;
    background-image: url("/../assets/images/bandeau/overlay.png"),
    url("/../assets/images/bandeau/IMG_4635_1680x658.png");
  }

  &.band--taichi {
    @extend %band--img;
    background-image: url("/../assets/images/bandeau/overlay.png"),
    url("/../assets/images/bandeau/taichi_groupe_band.png");
  }

  &.band--stage {
    @extend %band--img;
    background-image: url("/../assets/images/bandeau/stage-taichi_1680x658.png");
  }

  &.band--meditation {
    @extend %band--img;
    background-image: url("/../assets/images/bandeau/IMG_4625_1680x658.jpg");
  }
}

.band__title {
  font-size: 2.5em;
  color: $white;
  text-align: center;
  text-transform: uppercase;
}

.band__cadre {
  background-color: rgba($color-project-primary-very-light, 0.65);
  display: flex;
  justify-content: center;
  width: 80%;
  height: $cadre-offset;
  margin-top: 1.25 * $cadre-offset;

  @media (min-width: $medium-desktop-window) {
    width: 60%;
    height: 2 * $cadre-offset;
    margin-top: 1.5 * $cadre-offset;
  }

  h3 {
    font-weight: $txt-bold-default;
    text-transform: uppercase;
    text-align: center;
    align-self: center;

    &.primary {
      color: $color-project-primary-dark;
    }

    &.secondary {
      color: $color-project-secondary-dark;
    }

    &.tertiary {
      color: $color-project-tertiary-dark;
    }

    @media (min-width: $small-mobile-window) {
      font-size: $txt-size-regular;
    }

    @media (min-width: $small-desktop-window) {
      font-size: $txt-size-big;
    }

    @media (min-width: $medium-desktop-window) {
      font-size: $txt-size-xxl;
    }
  }
}
