@import "src/assets/styles/bases";

.chapter {
  display: flex;
  box-shadow: 4px 4px 6px rgba($color-default-primary, 0.16);
  margin-bottom: $size-xmedium;
  cursor: pointer;

  &:hover {
    background-color: $color-empty-very-light;
  }

  img {
    display: none;

    @media (min-width: $small-desktop-window) {
      display: block;
    }
  }
}

.chapter__text {
  margin: $size-medium 4*$size-default;
}

.chapter__title {
  font-size: $txt-size-regular;
  font-weight: $txt-bold-default;
  text-transform: uppercase;
  margin-bottom: $size-xmedium;

  &.primary {
    color: $color-project-primary;
  }

  &.secondary {
    color: $color-project-secondary;
  }

  &.tertiary {
    color: $color-project-tertiary;
  }

  &.grey {
    color: $color-empty;
  }
}

::ng-deep .chapter__teaser {
  color: $color-empty;
  font-size: $txt-size-lower;
  text-align: justify;
}
