@import "src/assets/styles/bases";

.taichi-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-carousel {
  width: 100%;
}

.taichi__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: $size-large;

  @media (min-width: $medium-desktop-window) {
    flex-direction: row;
  }
}

.presentation__image {
  height: 100%;

  @media (min-width: $medium-desktop-window) {
    margin-right: $size-xmedium;
  }
}

.presentation__text {
  color: $color-empty;
  font-weight: $txt-regular-medium;
  text-align: justify;
  display: flex;
  padding-top: $size-medium;

  .img-certification-taichi {
    cursor: pointer;
    align-self: center;
    width: 100%;
    height: 100%;
  }
}

.taichi-introduction {
  color: $color-empty;
  font-weight: $txt-regular-medium;
  text-align: justify;
  width: 65%;
  margin-bottom: $size-large;
}

.taichi-chapters {
  width: 80%;
  margin-bottom: 2.5*$size-default;

  @media (min-width: $small-desktop-window) {
    width: 75%;
    margin-bottom: 4.5*$size-default;
  }

  @media (min-width: $medium-desktop-window) {
    width: 65%;
    margin-bottom: 6.5*$size-default;
  }
}

.taichi__band {
  width: 100%;
}

.taichi__chapter {
  width: 90%;
  margin: $size-large 0;

  @media (min-width: $small-desktop-window) {
    width: 80%;
  }

  @media (min-width: $medium-desktop-window) {
    width: 65%;
  }
}

.chapter__introduction {
  color: $color-project-primary;
  font-weight: $txt-regular-medium;
  font-size: $txt-size-regular;
  margin-bottom: $size-xmedium;
}

.chapter__content {
  color: $color-empty;
  font-size: $txt-size-lower;
  text-align: justify;
  margin-bottom: $size-xmedium;
}

.chapter__image {
  width: 100%;
}

.chapter__stikers {
  display: flex;
  flex-direction: column;
  margin: $size-medium 0;

  @media (min-width: $medium-desktop-window) {
    flex-direction: row;
    margin: $size-xmedium -4*$size-default;
  }
}

.stiker {
  flex: 1;
  margin: $size-default 0;
  border-radius: $border-radius-default;
  box-shadow: 0 4px 6px rgba($color-default-primary, 0.16);
  display: flex;
  flex-direction: column;
  padding: $size-medium;


  @media (min-width: $medium-desktop-window) {
    margin: 0 $size-default;
  }

  .stiker__title {
    font-size: $txt-size-regular;
    font-weight: $txt-regular-medium;
    color: $color-project-primary-dark;
    align-self: center;
    margin-bottom: $size-default;
  }

  .stiker__content {
    font-size: $txt-size-lower;
    color: $color-empty;
    text-align: justify;
  }
}

.chapter-1__content--img {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $medium-desktop-window) {
    flex-direction: row;
  }

  img {
    height: 100%;
    margin-left: $size-default;
  }
}

.chapter-2__content--columns {
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-desktop-window) {
    flex-direction: row;
  }

  .column {
    flex: 1;
    padding: $size-default;

    @media (min-width: $medium-desktop-window) {
      margin-left: $size-xmedium;
    }
  }
}

.chapter-2__content--title {
  color: $color-project-primary;
  text-transform: uppercase;
  font-size: $txt-size-regular;
  font-weight: $txt-regular-medium;
  margin-bottom: $size-default;
}

.taichi__testimonies {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 4*$size-default 0;

  app-testimony {
    width: 100%;
    margin-top: $size-lower;

    @media (min-width: $small-desktop-window) {
      width: 40%;
      margin-right: $size-xmedium;
    }

    @media(min-width: $medium-desktop-window) {
      width: 30%;
    }
  }
}

.taichi__articles {
  display: flex;
  flex-direction: column;
  padding: 2*$size-medium;
  @media (min-width: $small-mobile-window) {
    padding: 2*$size-medium 8*$size-medium;
  }

  .articles__item {
    margin-bottom: $size-xmedium;
  }
}

