<app-nav-bar [page]="page"></app-nav-bar>
<div class="taichi-page">
  <app-carrousel [multiple]="false" type="taichi"></app-carrousel>
  <h2 class="sr-only">Introduction</h2>
  <img
    alt="Enseignant certifié corps vivant corps conscient"
    src="assets/images/logo/corps-viviant-corps-conscient.jpg"
  />

  <div class="taichi-chapters">
    <h2 class="sr-only">Chapitres</h2>
    <app-chapter
      (click)="goToChapter1()"
      color="primary"
      img="assets/images/taichi/tai-chi-s_accorder-300x225.png"
      title="Tai Chi  Qi Gong  Méditation : les bienfaits"
    >
      <p class="chapter__teaser">
        Le Tai Chi le Qi Gong et la méditation renforcent notre souplesse, notre
        tonus musculaire, notre respiration, notre équilibre, notre
        coordination, notre lâcher-prise… Ils diminuent les effets du stress
        accumulés au quotidien et stimulent nos défenses immunitaires.
      </p>
    </app-chapter>
    <app-chapter
      (click)="goToChapter2()"
      color="primary"
      img="assets/images/taichi/tai-chi-préaux-cigogne-300x200.png"
      title="Tai Chi  Qi Gong  Méditation : les cours"
    >
      <p class="chapter__teaser">
        Les cours associent des temps d’assouplissement, de relaxation, de
        méditation orientée sur la respiration, le centrage, la circulation du
        Chi et des mouvements. <br />
        La pédagogie corps vivant corps conscient est adaptée à notre monde
        occidentale, elle rend ces pratiques accessibles à tous.
      </p>
    </app-chapter>
    <app-chapter
      (click)="goToChapter3()"
      color="primary"
      img="assets/images/taichi/documents-site-300x148.png"
      title="Tai Chi  Qi Gong  Méditation : les documents "
    >
      <p class="chapter__teaser">
        Vous retrouverez ici les documents didactiques et 2 articles "Les
        transformations silencieuses du Tai Ji Quan" et "Mieux vivre son
        quotidien : apprendre à agir sur soi". Ces articles sont extraits de mes
        mémoires universitaires. Ils sont parus dans la revue Présences de
        l'université de Rimouski au Québec.
      </p>
    </app-chapter>
  </div>
  <app-img-band
    [cadre]="true"
    class="taichi__band"
    id="explication"
    img="assets/images/bandeau/IMG_4627_1680x658.png"
    title="Tai Chi  Qi Gong  Méditation"
  >
  </app-img-band>
  <div class="taichi__chapter">
    <p class="chapter__introduction">
      La pratique du Tai chi, du Qi Gong et de la méditation est
      <strong class="primary">accessible à tous</strong>. Chacun, à son rythme,
      peut se <strong class="primary">détendre</strong>, se
      <strong class="primary">ressourcer</strong>,
      <strong class="primary">respirer</strong>,
      <strong class="primary">influencer sa posture</strong>
      , <strong class="primary">soulager ses douleurs</strong> etc. Chacun
      développe, à son rythme, des attitudes/aptitudes pour mieux vivre son
      quotidien.
    </p>
    <h3 class="chapter__content--title">Origines</h3>
    <p class="chapter__content">
      Le Qi Gong et le Tai Chi sont des gymnastiques de santé chinoise qui
      s’inscrivent dans une tradition millénaire. Ils sont portés par des
      générations de moines orientaux. Ils associent la respiration, le chi, le
      mouvement lent, la concentration souple et l’enracinement.
    </p>
    <h3 class="chapter__content--title">Bienfaits</h3>
    <p class="chapter__content">
      Leur pratique assouplit le corps et l’esprit, favorise un meilleur
      équilibre physique, mental, émotionnel et énergétique. Leur pratique
      libère la respiration, le lâcher-prise, la relation aux autres …
      globalement le bien être au quotidien. Leur pratique favorise la
      perception du Chi* et sa circulation dans tout le corps.
    </p>
    <h3 class="chapter__content--title">Public</h3>
    <p class="chapter__content">
      La pratique est ouverte à tous, quel que soit l’âge ou la condition
      physique. Chacun arrive avec ses propres motivations. Chacun est accueilli
      avec autant de bienveillance, qu’il vienne pour découvrir et pratiquer ces
      arts corporels, pour améliorer sa qualité de vie, pour se déstresser, par
      recommandation d'un thérapeute, ou pour faire des liens avec sa pratique
      professionnelle...
    </p>
    <div class="chapter__row justify-content-around">
      <img
        alt="Marie-Laure Humeau, professeur de Tai Chi, Le Mans"
        class="chapter__image"
        src="assets/images/taichi/chi-préaux-400x266.png"
      />
      <img
        alt="Marie-Laure Humeau, professeur de Tai Chi, Le Mans"
        class="chapter__image"
        src="assets/images/taichi/verdigne-serpent-400x277.png"
      />
    </div>
  </div>
  <app-img-band
    [cadre]="true"
    class="taichi__band"
    id="cours"
    title="Les cours de Tai Chi, Qi Gong et méditation"
    type="meditation"
  >
  </app-img-band>
  <div class="taichi__chapter">
    <p class="chapter__introduction">
      Les cours associent des temps d’assouplissement, de relaxation, de
      méditation orientée sur la respiration, le centrage, la circulation du Chi
      et des mouvements de Qi Gong ou de Tai Chi.
    </p>
    <div class="chapter__row">
      <div class="mr-3 chapter__content">
        <h3 class="chapter__content--title">Informations pratiques</h3>
        <p>
          La pratique est ouverte à tous, quel que soit l’âge ou la condition
          physique. Chacun vient dans la tenue de son choix, pourvu qu'elle soit
          confortable.<br />
          Les cours durent 1H pour le Qi Gong et 1H15 pour le Tai Chi.<br />
          Ils se découpent, le plus souvent, en 2 parties. <br />Un temps de
          préparation physique et mentale où nous abordons les assouplissements,
          la respiration, le Tantien (il est le centre de notre corps)etc.
          <br />Un temps où nous apprenons et pratiquons les mouvements de Qi
          Gong ou de Tai Chi, en fonction des cours. <br />Les cours se font en
          intérieur ou en extérieur, en fonction de la saison et du temps.
          <br />Tout au long de l'année passée nous avons avec les différentes
          associations mis tout en oeuvre pour maintenir les cours. Nous nous
          sommes adaptés, avec des cours en visio ou en extérieur en fonction
          des possiblités du moment. Nous mettrons aussi tout en oeuvre cette
          nouvelle année, dans ces moments où nous avons particulièrement besoin
          de nous ressourcer et renforcer nos systèmes immunitaires.
        </p>
        <h3 class="chapter__content--title">Ma Pratique</h3>
        <p>
          Je pratique le Qi Gong et le Tai Chi "Corps Vivant Corps Conscient" et
          je transmets avec plaisir cet art millénaire, sans recherche de
          performance et attentive au confort de chacun.<br />
          La pédagogie "Corps Vivant Corps conscient" est progressive et
          précise, adaptée à notre monde occidental. Elle met l'accent sur le
          ressenti et développe une meilleure qualité de vie, vers un corps
          vivant et conscient.
        </p>
        <p>
          Un corps vivant, c’est à dire disponible, souple, puissant, en
          santé.<br />
          Un corps conscient c’est-à-dire centré, incarné, où l’énergie circule,
          libéré.<br />
          C’est un chemin d’évolution pour chacun.
        </p>
        <p>
          Je propose 3 thèmes de cours, selon les associations : Relaxation et
          Qi Gong, Tai Chi 24, Tai Chi 127. Le Tai Chi est de style Yang.
        </p>
        <p>Plus d'infos, un téléphone 06.08.03.26.45</p>
      </div>
    </div>
    <div class="chapter__row justify-content-around">
      <img
        alt="Marie-Laure Humeau, professeur de Tai Chi, Le Mans"
        class="chapter__image"
        src="assets/images/taichi/préaux-simple-fouet-400x277.png"
      />
    </div>
    <div class="chapter__stikers">
      <!--Qi Gong-->
      <div class="stiker">
        <div class="stiker__title">Cours de Relaxation et Qi Gong</div>
        <div class="stiker__content">
          Les cours associent le plus souvent la préparation physique et mentale
          et les mouvements.<br />
          Nous faisons tour à tour des assouplissements, des étirements (makko),
          de la relaxation, de la méditation orientée sur notre respiration,
          notre centre corporel comme énergétique le « Tantien ». <br />Les
          mouvements sont portés par l’apprentissage des 11 exercices de santé
          chinois et des 8 brocards.<br />
          Ces mouvements sont faciles à mémoriser, ils ont été sélectionnés
          parmi des centaines d'exercices de Qi Gong pour leur maintien de la
          santé et pour leur préparation à la pratique du Tai Chi.
        </div>
      </div>
      <!--Taichi 24-->
      <div class="stiker">
        <div class="stiker__title">Cours de Qi Gong et Tai Chi 24</div>
        <div class="stiker__content">
          Les cours associent le plus souvent la préparation physique et mentale
          et les mouvements.<br />
          Nous faisons tour à tour des assouplissements, des étirements (makko),
          de la relaxation, de la méditation orientée sur notre respiration,
          notre centre corporel comme énergétique le « Tantien » et la
          circulation du Chi. <br />Nous pratiquons les 11 et apprenons les 24,
          forme courte de 24 mouvements. Cet apprentissage se fait le plus
          souvent sur 3 ou 5 ans. Il est de fait fonction du rythme de chacun,
          il peut aussi être plus long ou plus rapide…<br />
          Le principal enjeu est de lâcher-prise et d’y trouver du plaisir. La
          forme dans son ensemble dure entre 10 mn et 15 mn.
        </div>
      </div>
      <!-- Taichi 127-->
      <div class="stiker">
        <div class="stiker__title">Cours de Tai Chi 127</div>
        <div class="stiker__content">
          Ce niveau est plus avancé. Il est proposé aux personnes qui ont déjà
          suivi les 24.<br />Nous continuons les assouplissements, étirements et
          des techniques de Chi et de méditation plus avancées.<br />
          Nous apprenons les 13 et les 3 sections des 127. Les 13 sont comme un
          refrain qui nous entraine aux mouvements principaux des 127. Nous
          abordons les 3 sections des 127 en fonction des années et de l’avancée
          des groupes. Leur apprentissage est infini.
        </div>
      </div>
    </div>
    <!-- Contact -->
    <div class="chapter-2__content--columns">
      <div class="column">
        <h3 class="chapter__content--title">Contact Le Mans</h3>
        <p class="chapter__content">
          L’association <strong>Art de Art de Vie</strong> propose trois niveaux
          de cours :<br />
          Qi Gong et Relaxation,<br />
          Tai Chi 24 et Qi Gong,<br />
          Tai Chi 127,<br />
          le mardi et le jeudi. <br />Saison 2023-2024. Cours d’essai sans
          engagement. Merci de téléphoner avant de vous déplacer au premier
          cours. <br />En savoir plus sur
          <a
            href="https://sites.google.com/site/assoartdevie/home"
            target="_blank"
            title="Association Art de Vie"
          >
            le site de l'association Art de Vie </a
          >.
        </p>
      </div>
      <div class="column">
        <h3 class="chapter__content--title">Contact Laigné en Belin</h3>
        <p class="chapter__content">
          L’association <strong>Bien être en Belinois</strong> propose 3 cours
          :<br />
          Tai Chi 24 & Qi Gong, Tai Chi 127,le lundi, <br />Méditation, le
          mercredi<br />
          Des ateliers Bien-être, le deuxième vendredi du mois.<br />
          Saison 2023-2024. Cours d’essai sans engagement. Merci de téléphoner
          avant de vous déplacer au premier cours.
          <br />
          En savoir plus sur
          <a
            href="https://sites.google.com/view/bienetrebelinois/accueil"
            target="_blank"
            title="Association Bien être en Belinois"
          >
            le site de l'association Bien être en Belinois </a
          >.
        </p>
      </div>
    </div>
    <div class="chapter-2__content--columns">
      <div class="column">
        <h3 class="chapter__content--title">Autres lieux</h3>
        <p class="chapter__content">
          J'anime des ateliers Active Seniors pour les plus de 60ans, avec le
          CDOS Sarthe (Comité Départemental Olympique et Sportif).<br />En
          savoir plus sur
          <a
            href="http://sarthe.franceolympique.com/art.php?id=68436"
            target="_blank"
            title="CDOS"
            >le site du CDOS</a
          >. <br />J'anime des ateliers dans le cadre de mutuelles ou de la
          CPAM. <br />J'anime des cours de Qi Gong et de Tai Chi au sein de
          l'antenne France Parkinson Sarthe. <br />En savoir plus sur
          <a
            href="https://www.franceparkinson.fr/association/carte-comites-locaux/comite/?id=72"
            target="_blank"
            title="france parkinson"
            >France Parkinson Sarthe</a
          >
        </p>
      </div>
    </div>
  </div>

  <!-- Document -->

  <app-img-band
    [cadre]="true"
    class="taichi__band"
    id="articles"
    title="Documents de référence"
    type="stage"
  >
  </app-img-band>
  <div class="taichi__chapter">
    <p class="chapter__content">
      Ces documents sont à votre disposition que vous suiviez les cours ou non.
      <br />
      Les deux premiers documents sont des supports de cours.<br />Les deux
      derniers documents sont des résumés des mémoires écrits pendant mes quatre
      années à l'université de Tours. <br />Le premier relate des
      transformations silencieuses liés à l'état d'esprit du Tai Chi qui
      colorent peu à peu le quotidien. <br />Le second relate des apprentissages
      que dévoilent ces transformations silencieuses.
    </p>
  </div>
  <div class="taichi__articles">
    <app-news
      buttonLabel="Qi Gong des 11"
      class="articles__item"
      img="assets/images/taichi/image-11-300x200.png"
      redirect="assets/resources/les 11_avec_respiration_dessin.pdf"
      title="Les 11"
    >
      La liste des 11 exercices de santé chinois associés à la respiration.
    </app-news>
    <app-news
      buttonLabel="Mouvements des 24"
      class="articles__item"
      img="assets/images/taichi/image-24-300x203.png"
      redirect="assets/resources/Les 24 cvcc.pdf"
      title="Les 24"
    >
      La liste des 24 mouvements de Tai Chi.
    </app-news>
    <app-news
      buttonLabel="Mouvements des 127"
      class="articles__item"
      img="assets/images/taichi/image-127-300x234.jpg/"
      redirect="assets/resources/Les-127-liste.pdf"
      title="Les 127"
    >
      La liste des 127 mouvements de Tai Chi.
    </app-news>
    <app-news
      buttonLabel="Résumé du mémoire"
      class="articles__item"
      img="assets/images/taichi/laigné-séparer-300x224.png"
      redirect="http://www.uqar.ca/uqar/universite/a-propos-de-luqar/departements/psychosociologie_et_travail_social/revue_presences_vol5_humeau_ml.pdf"
      title="Les transformations silencieuses du Tai Ji Quan"
    >
      Cet article relate l’immersion dans l’état d’esprit du Tai Chi et la
      coloration du quotidien qui se diffuse.
    </app-news>
    <app-news
      buttonLabel="Résumé du mémoire"
      class="articles__item"
      img="assets/images/taichi/tai-chi-ardèche-quercy-300x225.png"
      redirect="http://www.uqar.ca/uqar/universite/a-propos-de-luqar/departements/psychosociologie_et_travail_social/presences_vol8_humeau_vivre_au_quotidien_tai-ji-quan.pdf"
      title="Mieux vivre son quotidien : apprendre à agir sur soi"
    >
      Cet article relate de l'état d'esprit du Tai et de ses apprentissages.
    </app-news>
  </div>

  <!-- Témoignages -->
  <app-img-band
    [cadre]="true"
    class="taichi__band"
    title="Témoignages"
    type="stage"
  ></app-img-band>
  <div class="taichi__testimonies">
    <app-testimony
      *ngFor="let testimony of testimonies"
      [author]="testimony.author"
      color="primary"
    >
      {{ testimony.testimony }}
    </app-testimony>
  </div>
</div>
