<app-nav-bar [page]="page"></app-nav-bar>
<div class="taichi-page">
  <app-carrousel [multiple]="false" type="taichi"></app-carrousel>
  <h2 class="sr-only">Introduction</h2>
  <div class="taichi__presentation">
    <img
      alt="Marie-Laure Humeau, professeur de Tai Chi, Le Mans"
      class="presentation__image"
      src="assets/images/taichi/verdigne serpent 300x192.jpg"
    />
    <p class="presentation__text">
      Marie-Laure, accompagne la conscience du corps par le Tai Chi, le Qi Gong,
      la méditation et les massages bien-être.
      <br/>
      Le Tai Chi le Qi Gong, la méditation favorisent l’équilibre du corps, de
      l’esprit, de l’énergie. Ces pratiques millénaires associent le corps le
      mental et la circulation du Chi.
      <br/>
      Arts énergétiques ou simples activités de loisir, elles développent au fil
      du temps une présence, un état d’esprit au quotidien. Elles stimulent nos
      défenses immunitaires.
    </p>
  </div>
  <div class="taichi__presentation">
    <span
      (click)="goToQuatrePilier()"
      style="align-self: center"
      title="Site des quatres pilier"
    >
    <span>
      <img
        alt="Enseignant certifié corps vivant corps conscient"
        class="img-certification-taichi"
        src="assets/images/logo/corps-viviant-corps-conscient.jpg"
      />
    </span>
  </div>

  <div class="taichi-chapters">
    <h2 class="sr-only">Chapitres</h2>
    <app-chapter
      (click)="goToChapter1()"
      color="primary"
      img="assets/images/taichi/tai-chi-s_accorder-445x203.png"
      title="Tai Chi Qi Gong Méditation"
    >
      <p class="chapter__teaser">
        Le Tai Chi  le Qi Gong et la méditation renforcent notre souplesse, notre tonus musculaire, notre respiration, notre équilibre, notre coordination, notre lâcher-prise… Ils diminuent les effets du stress accumulés au quotidien et stimulent nos défenses immunitaires.
        <br/>
      </p>
    </app-chapter>
    <app-chapter
      (click)="goToChapter2()"
      color="primary"
      img="assets/images/taichi/IMG_5348_445x203.png"
      title="Les cours de Tai Chi, Qi Gong et méditation"
    >
      <p class="chapter__teaser">
        Les cours associent des temps d’assouplissement, de relaxation, de méditation orientée sur la respiration, le centrage, la circulation du Chi et des mouvements. <br/>
        La pédagogie corps vivant corps conscient est adaptée à notre monde
        occidentale, elle rend ces pratiques accessibles à tous.
      </p>
    </app-chapter>
    <app-chapter
      (click)="goToChapter3()"
      color="primary"
      img="assets/images/flowers/IMG_3353_445x203.png"
      title="Les documents de référence"
    >
      <p class="chapter__teaser">
        Vous retrouverez ici les documents didactiques et 2 articles extraits de mes mémoires universitaires parus dans la revue Présences de l'université de Rimouski au Québec.
      </p>
    </app-chapter>
  </div>
  <app-img-band
    [cadre]="true"
    class="taichi__band"
    id="explication"
    img="assets/images/bandeau/IMG_4627_1680x658.png"
    title="Tai Chi Qi Gong Méditation"
  >
  </app-img-band>
  <div class="taichi__chapter taichi__chapter--1">
    <p class="chapter__introduction">
      La pratique du Tai chi, du Qi Gong et de la méditation est accessible à
      <strong class="primary">tous</strong>. Chacun, à son rythme, peut se
      <strong class="primary">détend</strong>, se <strong class="primary">ressource</strong>,
      <strong class="primary">respire</strong>,
      <strong class="primary">influence</strong>
      sa posture, <strong class="primary">soulage</strong> ses douleurs etc. Chacun développe,
      à son rythme, des attitudes/aptitudes pour mieux vivre son quotidien.
    </p>
    <p class="chapter__content">
      Le Qi Gong et le Tai Chi sont des gymnastiques de santé chinoise qui s’inscrivent dans une tradition millénaire. Ils sont portés par des générations de moines orientaux. Ils associent la respiration, le chi, le mouvement lent, la concentration souple et l’enracinement.
      <br/><br/>
      Leur pratique assouplit le corps et l’esprit, favorise un meilleur équilibre physique, mental, émotionnel et énergétique. Leur pratique libère la respiration, le lâcher-prise, la relation aux autres … globalement le bien être au quotidien. Leur pratique favorise la perception du Chi* et sa circulation dans tout le corps.
      <br/><br/>
      La pratique est ouverte à tous, quel que soit l’âge ou la condition physique. Chacun arrive avec ses propres motivations. Chacun est accueilli avec autant de bienveillance, qu’il vienne pour découvrir et pratiquer ces arts corporels, pour améliorer sa qualité de vie, pour se déstresser, par recommandation d'un thérapeute, ou pour faire des liens avec sa pratique professionnelle...
    </p>
      <img
        alt="Position des mains pendant le taichi"
        src="assets/images/taichi/tai-chi-gros-plan-mains-separer-363x186.jpg"
      />
    </div>
  </div>
  <app-img-band
    [cadre]="true"
    class="taichi__band"
    id="cours"
    title="Les cours de Tai Chi, Qi Gong et méditation"
    type="meditation"
  >
  </app-img-band>
  <div class="taichi__chapter taichi__chapter--2">
    <p class="chapter__introduction">
      Les cours associent des temps d’assouplissement, de relaxation, de méditation orientée sur la respiration, le centrage, la circulation du Chi et des mouvements.
    </p>
    <p>La pratique est ouverte à tous, quel que soit l’âge ou la condition physique. Chacun arrive avec ses propres motivations. Chacun est accueilli avec autant de bienveillance, qu’il vienne pour découvrir et pratiquer ces arts corporels, pour améliorer sa qualité de vie, pour se déstresser, par recommandation d'un thérapeute, ou pour faire des liens avec sa pratique professionnelle...</p>
    <p>La pratique est ouverte à tous, quel que soit l’âge ou la condition physique. Chacun arrive avec ses propres motivations. Chacun est accueilli avec autant de bienveillance, qu’il vienne pour découvrir et pratiquer ces arts corporels, pour améliorer sa qualité de vie, pour se déstresser, par recommandation d'un thérapeute, ou pour faire des liens avec sa pratique professionnelle...</p>
    <p>Je pratique le Qi Gong et le Tai Chi Corps Vivant Corps Conscient et je transmets avec plaisir cet art millénaire, sans recherche de performance et attentive au confort de chacun.  La pédagogie Corps Vivant Corps conscient est progressive et précise, adaptée à notre monde occidental. Elle met l'accent sur le ressenti et développe une meilleure qualité de vie, vers un corps vivant et conscient.</p>
    <P>Un corps vivant, c’est à dire disponible, souple, puissant, en santé.<br/>
      Un corps conscient c’est-à-dire centré, incarné, où l’énergie circule, libéré.<br/>
      C’est un chemin d’évolution pour chacun.
    </P>
    <p>Je propose 3 thèmes de cours : relaxation et Qi Gong, Tai Chi 24, Tai Chi 127. Le Tai Chi est de style Yang.</p>
    <p>Plus d'infos, un téléphone 06.08.03.26.45</p>
    <img
      alt="Cours de Tai Chi en plein air"
      class="chapter__image"
      src="assets/images/taichi/cours-taichi-qigong-meditation-1600x784.png"
    />
    <div class="chapter__stikers">
      <div class="stiker">
        <div class="stiker__title">Relaxation et Qi Gong</div>
        <div class="stiker__content">
          Nous faisons tour à tour des assouplissements, des étirements (makko), de la relaxation, de la méditation orientée sur notre respiration, notre centre corporel comme énergétique le « Tantien ». Les mouvements sont portés par l’apprentissage 11 exercices de santé chinois et 8 brocards. Ces mouvements sont faciles à mémoriser, ils ont été sélectionnés parmi des centaines d'exercices de Qi Gong pour leur maintien de la santé et pour leur préparation à la pratique du Tai Chi.
        </div>
      </div>
      <div class="stiker">
        <div class="stiker__title">Qi Gong et Tai Chi 24</div>
        <div class="stiker__content">
          Nous faisons tour à tour des assouplissements, des étirements (makko), de la relaxation, de la méditation orientée sur notre respiration, notre centre corporel comme énergétique le « Tantien » et la circulation du Chi. Nous pratiquons les 11 et apprenons les 24, forme courte de 24 mouvements. Cet apprentissage se fait le plus souvent sur 3 ou 5 ans. Il est de fait fonction du rythme de chacun, il peut aussi être plus long ou plus rapide… Le principal enjeu est de lâcher-prise et d’y trouver du plaisir. La forme dans son ensemble dure entre 10 mn et 15 mn.
        </div>
      </div>
      <div class="stiker">
        <div class="stiker__title">Tai Chi 127</div>
        <div class="stiker__content">
          Ce niveau est plus avancé. Nous continuons les assouplissements, étirements et des techniques de Chi et de méditation plus avancées. Nous apprenons les 13 et les 3 sections des 127. Les 13 sont comme un refrain qui nous entraine aux mouvements principaux des 127. Nous abordons les 3 sections des 127 en fonction des années et de l’avancée des groupes. Leur apprentissage est infini.
        </div>
      </div>
    </div>
    <div class="chapter-2__content--columns">
      <div class="column">
        <h3 class="chapter-2__content--title">le mans</h3>
        <p class="chapter__content">
          Saison 2020-2021. Cours d’essai sans engagement. Merci de nous
          téléphoner avant de vous déplacer au premier cours.
          <br/>
          L’association Art de vie propose trois niveaux de cours : Qi Gong et
          Relaxation, Tai Chi 24 et Qi Gong , Tai Chi 127, le mardi et le jeudi.
          <br/>Jusqu'à nouvel ordre nous continuons les cours en visio.<br/>
          En savoir plus sur
          <a
            href="https://sites.google.com/site/assoartdevie/home"
            target="_blank"
            title="Association art de vie"
          >
            le site de l'association </a
          >.
        </p>
      </div>
      <div class="column">
        <h3 class="chapter-2__content--title">laigné en belin</h3>
        <p class="chapter__content">
          Saison 2020-2021. Cours d’essai sans engagement. Merci de nous
          téléphoner avant de vous déplacer au premier cours. L’association Bien
          être en Belinois propose les cours de Tai Chi 24 et Qi Gong, le lundi.<br/> Jusqu'à nouvel ordre nous continuons les cours en visio.
          <br/>
          En savoir plus sur
          <a
            href="https://www.facebook.com/bienetrebelinois/"
            target="_blank"
            title="Facebook taichi laigné en belin"
          >
            la page Facebook </a
          >.
        </p>
      </div>
    </div>
    <div class="chapter-2__content--columns">
      <div class="column">
        <h3 class="chapter-2__content--title">Autres lieux</h3>
        <p class="chapter__content">
          J'encadre également des ateliers prévention santé pour les séniors,
          avec le CDOS Sarthe (Comité Départemental Olympique et Sportif).<br/>En
          savoir plus sur
          <a
            href="http://sarthe.franceolympique.com/art.php?id=68436"
            target="_blank"
            title="CDOS"
          >le site du CDOS</a
          >.
        </p>
      </div>
    </div>
  </div>
  <app-img-band
    [cadre]="true"
    class="taichi__band"
    id="articles"
    title="Documents de référence"
    type="stage"
  ></app-img-band>
  <div class="taichi__articles">
    <app-news
      [left]="true"
      buttonLabel="Lien vers le résumé du mémoire"
      class="articles__item"
      img="assets/images/taichi/laigné séparer 300x224.jpg"
      redirect="http://www.uqar.ca/uqar/universite/a-propos-de-luqar/departements/psychosociologie_et_travail_social/revue_presences_vol5_humeau_ml.pdf"
      title="Les transformations silencieuses du Tai Ji Quan"
    >
    Cet article relate des transformations silencieuses qui émergent avec la pratique du Tai Chi. Il est issu du mémoire et l’étude réalisés dans le cadre du diplôme universitaire. Cette étude s’est appuyée sur ma propre expérience, sur laquelle j’ai effectué un travail réflexif. Elle est basée sur six entretiens réalisés auprès de professeurs et d’élèves. L’analyse de ces entretiens montre les transformations silencieuses à travers l’immersion dans l’état d’esprit du Tai Chi et la coloration du quotidien qui en découle. J’appelle transformations silencieuses ces moments qui, sans en avoir l’air, transforment le pratiquant.

    </app-news>
    <app-news
      buttonLabel="Lien vers le résumé du mémoire"
      class="articles__item"
      img="assets/images/taichi/mieux-vivre.jpg"
      redirect="http://www.uqar.ca/uqar/universite/a-propos-de-luqar/departements/psychosociologie_et_travail_social/presences_vol8_humeau_vivre_au_quotidien_tai-ji-quan.pdf"
      title="Mieux vivre son quotidien : apprendre à agir sur soi"
    >
      Depuis une quarantaine d’années des pratiques venues d’Orient se sont
      immiscées dans nos pays occidentaux (Tai Chi, Yoga, méditation etc.) et
      sont même devenues de véritables pratiques de loisir. On les observe
      aujourd’hui souvent sous l’angle de la santé mais qu’est-ce que les gens
      découvrent avec ces pratiques. Comment ou en quoi se forment- ils ?
    </app-news>
  </div>
  <app-img-band
    [cadre]="true"
    class="taichi__band"
    title="Témoignages"
    type="stage"
  ></app-img-band>
  <div class="taichi__testimonies">
    <app-testimony
      *ngFor="let testimony of testimonies"
      [author]="testimony.author"
    >
      {{ testimony.testimony }}
    </app-testimony>
  </div>
</div>
