@import "src/assets/styles/bases";

strong {
  font-weight: $txt-bold-default;
  color: $color-project-secondary-dark;
}

strong.primary {
  color: $color-project-primary-dark;
}

a.none {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

a {
  color: $color-project-secondary-dark;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $color-project-primary-light;
    text-decoration: underline;
  }
}
