<app-nav-bar></app-nav-bar>
<div class="conditions-page">
  <div class="conditions__content">
    <h1 class="u-text--primary-dark mb-4">
      Conditions générales de vente de prestations de services
    </h1>
    <p>
      Date de dernière mise à jour : 3 août 2022. <br />L’entrepreneure
      individuelle Marie-Laure HUMEAU est une entreprise individuelle (EI) de
      droit français identifiée sous le numéro Sirene 519 897 169 et dont le
      siège social est sis 9 rue de l’Oisonnière 72220 LAIGNÉ en BELIN (« Le
      prestataire »). <br />Le Prestataire peut être joint aux coordonnées
      suivantes : <br />• 9 rue de l’Oisonnière 72220 LAIGNÉ en BELIN <br />• 06
      08 03 26 45 <br />• mlh@humoe.fr
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 1 - Champ d'application</h2>
    <p>
      Les présentes conditions générales de services (les « Conditions Générales
      ») s'appliquent aux services suivants (les « Services ») fournis par le
      Prestataire à tout consommateur et non-professionnel désirant en
      bénéficier (le « Client ») : <br />• Séances de massage bien-être <br />•
      Séances de shiatsu <br />• Cours collectifs de tai chi et qi gong <br />•
      Cours individuels de tai chi et qi gong<br />Les caractéristiques
      principales des Services figurent en Annexe1 des présentes. <br />Le
      Prestataire se réserve le droit de refuser toute prestation qui
      n’entrerait pas dans le cadre des formations qu’il a reçues et validées
      par ses certifications ou attestations de formation présentielles qu’elle
      tient, sur demande, à la disposition du client. <br />Les différentes
      techniques proposées et pratiquées n’ont aucune visée médicale et ne sont
      assimilables ni aux actes réservés aux professions de santé réglementées
      par le Code de la Santé Publique et au décret n°96-879 du 8 octobre 1996.
      Elles sont considérées comme complémentaires et ne se substituent en aucun
      cas au champ médical réservé aux professions de Santé. Elles s’inscrivent
      dans une démarche complémentaire et personnelle de travail sur soi de
      toute personne qui consulte. <br />Les règles de déontologie, le secret
      professionnel et la confidentialité seront respectés par le Prestataire.
      Le Prestataire pourra, s'il le juge nécessaire, interrompre à tout moment
      une séance s'il estime que la santé du Client l'exige et/ou suivant les
      contre-indications qu'il aura déterminées. <br />Toute commande de
      Services emporte, de la part du Client, l’acceptation préalable sans
      restriction ni réserve des Conditions Générales, dont le Client déclare
      avoir pris connaissance. <br />Les Conditions Générales sont applicables
      sous réserve de toute stipulation contraire figurant au bon de commande ou
      à des conditions particulières le cas échéant conclues entre la Société et
      le Client concerné. <br />Les Conditions Générales s’entendent sans
      préjudice des dispositions légales applicables et notamment celles prévues
      par le Code de la Consommation.
    </p>
    <h2 class="u-text--primary-dark mt-4">
      Article 2 - Commandes et rendez vous
    </h2>
    <p>
      Tout acompte versé d’avance par le Client portera intérêt au taux légal à
      l'expiration d'un délai de trois mois à compter du versement jusqu'à
      l'exécution des Services, sans préjudice de l'obligation du Prestataire de
      fournir lesdits Services.
    </p>
    <h3 class="u-text--primary-dark mt-4">A - Commandes et devis</h3>
    <p>
      Dans l’éventualité de l’établissement d’un devis détaillé pour une
      commande, celui-ci aura une durée de validité de soixante (60) jours à
      compter de sa date de création. <br />La commande est définitive dès
      signature du devis par le Client, ce dernier valant alors bon de
      commande.<br />
      Le bon de commande, la nature des Services et leurs modalités d’exécution
      ne pourront être modifiés sans l’accord préalable et écrit du Prestataire.
      <br />En cas d’annulation par le Client d’une commande confirmée avant sa
      réalisation, pour quelque motif que ce soit, et sans préjudice de tous
      dommages et intérêts complémentaires :<br />• l’acompte éventuellement
      versé à la commande par le Client restera acquis de plein droit au
      Prestataire et ne donnera lieu à aucun remboursement ;
      <br />Réciproquement, en cas d’annulation par le Prestataire d’une
      commande confirmée ou d’un rendez-vous, pour quelque motif que ce soit,
      l’acompte éventuellement versé à la commande par le Client lui sera
      restitué.
    </p>
    <h2 class="u-text--primary-dark mt-4">B - Rendez vous</h2>
    <p>
      En cas d’annulation par le Client d’un rendez-vous confirmé avant la date
      retenue de la réalisation de la prestation de service, pour quelque motif
      que ce soit, et sans préjudice de tous dommages et intérêts
      complémentaires : <br />• l’acompte éventuellement versé à la commande par
      le Client restera acquis de plein droit au Prestataire et ne donnera lieu
      à aucun remboursement ; <br />Réciproquement, en cas d’annulation par le
      Prestataire d’une commande confirmée ou d’un rendez-vous, pour quelque
      motif que ce soit, l’acompte éventuellement versé à la commande par le
      Client lui sera restitué.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 3 - Conditions tarifaires</h2>
    <p>
      Les Services sont fournis au tarif du Prestataire en vigueur au jour de la
      signature du bon de commande, exprimé en euros et toutes charges comprises
      (taxe sur la valeur ajoutée française et autres taxes applicables au jour
      de l’enregistrement de la commande). <br />Les frais éventuels de dossier,
      de gestion, de réservation, d’intermédiation, et autres frais, intérêts et
      commissions sont indiqués sur le bon de commande, ou pour un rendez-vous,
      comme indiqué sur les conditions tarifaires en annexe 2 des présentes
      conditions générales de vente. <br />Les frais engagés pour l’exécution
      des Services pourront toutefois faire l’objet d’une facturation
      complémentaire au Client (frais de déplacement, hébergement, débours,
      etc.) selon l’accord des parties figurant le cas échéant dans le bon de
      commande. <br />Les prix des Services applicables à la date des présentes
      figurent en Annexe 2. Toute modification du tarif des Services prendra
      effet lors de la prochaine période contractuelle. <br />Le tarif est ferme
      et ne peut être révisé pendant la durée d’exécution des Services, les
      parties renonçant expressément à se prévaloir des dispositions de
      l’article 1195 du Code Civil. Toutefois, en cas de demande particulière du
      Client pendant la durée d’exécution des Services, dûment acceptée par
      écrit par le Prestataire, les coûts ou frais y afférents pourront faire
      l'objet d'une facturation spécifique complémentaire. <br />Le Prestataire
      se réserve le droit de modifier ses prix de son catalogue tarifaire à tout
      moment pour tous Services qui seraient souscrits postérieurement à cette
      modification. <br />Des éventuelles réductions de prix, ristournes et
      remises pourront s’appliquer aux Services dans des conditions prévues en
      Annexe ou dans tout autre document qui serait communiqué au Client. En cas
      de tarif promotionnel, le Prestataire s'engage à appliquer ce tarif à
      toute commande passée durant la période de la promotion. <br />Toute
      modification des tarifs résultant de la création de toute nouvelle taxe
      assise sur le prix des Services sera immédiatement et automatiquement
      appliquée.
    </p>
    <h2 class="u-text--primary-dark mt-4">
      Article 4 - Conditions de facturation et de paiement
    </h2>
    <h3 class="u-text--primary-dark mt-4">
      A - Commandes, devis et rendez vous
    </h3>
    <p>
      Les Services sont facturés et le prix est exigible en totalité et payable
      comptant au jour de leur fourniture.
    </p>
    <h3 class="u-text--primary-dark mt-4">
      B - Conditions de facturation et de paiement
    </h3>
    <p>
      Conformément à l’article L. 221-10 du Code de la Consommation et sauf
      exceptions visées à ce même article, lorsque la commande a été souscrite
      hors établissement du Prestataire au sens de l’article L.221-1 du Code de
      la Consommation, l’exécution et le paiement des Services ne pourront avoir
      lieu avant l’expiration d’un délai de sept (7) jours à compter de la
      conclusion des présentes par un consommateur, sauf demande expresse en
      sens contraire du Client recueillie dans les conditions prévues à
      l’article L.221-25 du Code de la Consommation. <br />Les modes de paiement
      suivants peuvent être utilisés : <br />o espèces <br />o virements <br />o
      chèques. <br />En présence d’un paiement par chèque, ce dernier doit être
      émis par d’une banque domiciliée en France métropolitaine ou à Monaco.
      L’encaissement est effectué immédiatement, ou selon les conditions
      convenues entre le Prestataire et le Client dans le bon de commande ou
      lors du rendez-vous. <br />En cas de règlement anticipé par le Client,
      aucun escompte ne sera pratiqué. En aucun cas les paiements ne peuvent
      être suspendus ni faire l'objet d'une quelconque compensation sans accord
      préalable et écrit entre le Prestataire et le Client. Toute suspension,
      déduction ou compensation opérée unilatéralement par le Client sera
      traitée comme un défaut de paiement et entraînera toutes les conséquences
      d’un retard de paiement. <br />Il est expressément convenu que le Client
      est valablement mis en demeure de payer par la seule exigibilité de
      l'obligation, conformément aux dispositions de l'article 1344 du Code
      civil. En cas de retard de paiement de l’une quelconque des échéances, le
      Prestataire se réserve notamment le droit, sans qu’aucune indemnité ne
      soit due au Client, de : <br />o exiger le paiement immédiat de l’ensemble
      des sommes à devoir au titre des Services, celles-ci devenant
      immédiatement exigibles quelle que soit leur échéance initialement prévue
      ; <br />o refuser toute nouvelle commande ou exiger pour toute nouvelle
      commande un paiement comptant ou une garantie pour la bonne exécution des
      engagements ; <br />o imputer tout paiement partiel en premier lieu sur la
      partie non privilégiée de la créance puis sur les sommes dont
      l'exigibilité est la plus ancienne ; <br />o réduire, suspendre ou annuler
      l’accès aux Services, huit (8) jours après mise en demeure restée sans
      effet, effectuée par le Prestataire auprès du Client ; <br />o appliquer,
      sans mise en demeure préalable, à toutes les sommes dues, dès le premier
      jour de retard et jusqu'à complet paiement, des pénalités de retard
      calculées au taux visé à l’article L.441-6 du Code de Commerce ;
    </p>
    <h2 class="u-text--primary-dark mt-4">
      Article 5 - Modalités de fourniture des services
    </h2>
    <p>
      Le Prestataire n’est tenu de fournir les Services commandés par le Client
      qu’en cas de paiement partiel ou total du prix et encaissement effectif de
      celui-ci dans les conditions ci-avant indiquées à l’article 3. En
      l’absence d’exécution immédiate des Services, ceux-ci seront fournis à la
      date ou dans le délai figurant dans le bon de commande ou à la date
      convenue par chaque partie lors de la prise de rendez-vous, au lieu
      convenu avec le Client et préalablement accepté par le Prestataire.
      <br />Le Prestataire déclare disposer des compétences, de l’expérience et
      des moyens nécessaires pour fournir les Services, et assumera la pleine
      responsabilité de l’exécution des Services. <br />Le Prestataire fournira
      les Services de bonne foi et mettra en œuvre toutes les diligences
      requises pour l’exécution de ses obligations au titre des présentes
      Conditions Générales, dans le respect des dispositions législatives et
      réglementaires et des droits de tiers. <br />Le Prestataire a une
      obligation de moyens et non de résultats. Notamment, le Prestataire
      s’engage à : <br />o apporter tous les soins requis par la diligence
      professionnelle et les usages de la place à l’exécution des Services ;
      <br />o mettre le cas échéant en œuvre ou à disposition les moyens
      adéquats pour l’exécution des Services ; <br />o en l’absence d’exécution
      immédiate des Services, faire ses meilleurs efforts. assurer le respect du
      délai ou calendrier figurant dans le bon de commande ou lors du
      rendez-vous convenu avec le Client. <br />Le Prestataire collaborera
      activement et de bonne foi avec le Client en tous domaines, en vue de la
      bonne exécution des Services, et informera immédiatement le Client de
      toute difficulté ou de tout litige survenu au cours de l’exécution de sa
      mission. <br />Le Prestataire fournira les Services en totale indépendance
      et autonomie.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 6 - Obligations du client</h2>
    <p>
      Le Client collabore activement et de bonne foi avec le Prestataire en tous
      domaines en vue de la bonne exécution des Services. <br />Il communique
      notamment des informations et documents au caractère complet, précis exact
      et sincère et prend les décisions raisonnablement nécessaires dans les
      délais requis pour l’exécution des Services. Le Prestataire sera autorisé
      à utiliser tout élément communiqué par le Client pour les besoins de la
      réalisation des Services ou obtenu par le biais de sources d’informations
      publiques généralement considérées comme fiables et à présumer, sans que
      sa responsabilité ne puisse être engagée, que cet élément est exact,
      précis, sincère, complet et ne comporte pas d’inexactitude ou
      d’insuffisance susceptible d’en altérer la portée. <br />Le Client ne peut
      modifier, en cours d’exécution des Services, leur nature ou leurs
      modalités de fourniture, sauf accord préalable et écrit du Prestataire.<br />Il
      s’engage à informer immédiatement le Prestataire de toute difficulté,
      réserve ou de tout litige survenu au cours de l’exécution des Services,
      afin de permettre le cas échéant un règlement amiable de la situation.
      <br />Le Client verse le prix des Services dans les conditions et selon
      les modalités prévues aux présentes.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 7 - Réclamations</h2>
    <p>
      En cas de retard dans la fourniture des Services, pour tout autre cause
      que la force majeure ou le fait du Client, le Client pourra résoudre la
      commande dans les conditions prévues aux articles L.216-2, L.216-3 et
      L.241-4 du Code de la consommation, après avoir enjoint le Prestataire de
      fournir les Services dans un délai supplémentaire raisonnable. <br />Les
      sommes avancées par le Client lui seront alors rétrocédées au plus tard
      quatorze (14) jours suivant la date à laquelle le contrat aura été
      dénoncé. <br />En cas d’exécution défectueuse des Services, le Client
      devra notifier le Prestataire et formuler ses griefs, ses réserves et les
      justificatifs pertinents dans un délai de trente (30) jours calendaires
      suivant la date où il en a connaissance, afin de permettre aux parties de
      faire leurs meilleurs efforts en vue de parvenir à un règlement amiable de
      la situation dans un délai de trente (30) jours calendaires suivant la
      notification initiale du Client. <br />A défaut de réserves ou de
      réclamations expressément émises par le Client lors de la fourniture des
      Services dans ce délai, aucune réclamation ne pourra être valablement
      acceptée par le Prestataire. <br />Le cas échéant et en cas de prise en
      compte de la réclamation du Client, le Prestataire pourra procéder à un
      remboursement partiel ou total du Client ou rectifier et corriger les
      Services fournis dans les meilleurs délais. <br />A défaut de règlement
      amiable dans les conditions susvisées et en cas d’inexécution suffisamment
      grave du Prestataire, le Client pourra résilier les Conditions Générales
      dans les conditions prévues à l’article 10 et obtenir le cas échéant des
      dommages et intérêts du Prestataire aux fins de réparer le préjudice subi,
      le Client renonçant par avance à solliciter une exécution forcée en nature
      des Services par le Prestataire ou un tiers ou une réduction
      proportionnelle du prix, par dérogation expresse aux dispositions des
      articles 1221, 1222 et 1223 du Code civil.
    </p>
    <h2 class="u-text--primary-dark mt-4">
      Article 8 - Responsabilité du Prestataire
    </h2>
    <p>
      Le Prestataire est tenu à une obligation de moyens au titre de la
      fourniture des Services. <br />La responsabilité du Prestataire ne saurait
      être engagée : <br />o en cas de manquement à une quelconque obligation
      résultant d'un cas fortuit, d’un évènement de force majeure au sens de
      l’article 1218 du Code Civil ou du fait du Client ou d’un tiers ; <br />o
      dans le cas où les informations, données, instructions, directives,
      communiqués par le Client sont erronés ou incomplets, et plus généralement
      dans le cas où l’inexécution ou l’exécution défectueuse des Services
      résulte en tout ou partie du comportement, d’un manquement ou d’une
      carence du Client ; <br />o en cas d’utilisation des résultats des
      Services pour un objet ou une finalité différents de ceux pour lesquels le
      Prestataire est intervenu, de mise en œuvre erronée des recommandations du
      Prestataire ou d’absence de prise en compte des réserves émises par le
      Prestataire ; <br />o en cas de dommage indirect ou non prévisible ;
      <br />o en cas de non-respect de la législation du pays dans lequel les
      Services sont fournis, qu'il appartient au Client, qui est seul
      responsable du choix des Services demandés, de vérifier.
    </p>
    <h3 class="u-text--primary-dark mt-4">
      A - Responsabilité civile professionnelle
    </h3>
    <p>
      Le Prestataire a souscrit auprès d’une compagnie notoire une assurance en
      responsabilité civile professionnelle et juridique. <br />Il est précisé
      que la responsabilité du Prestataire ne saurait être engagée en cas de
      dommages liés à la négligence d’un client, en particulier s’il n’a pas
      révélé au Prestataire l’existence de contre-indications l’affectant, que
      ce soit lors de l’entretien de la première séance ou des rendez-vous
      ultérieurs en cas de modifications de son état de santé personnel.
    </p>
    <h3 class="u-text--primary-dark mt-4">Incapacité de travail</h3>
    <p>
      En cas d’incapacité physique temporaire, par suite de maladie ou
      d’accident du Prestataire, celui-ci se réserve le droit de programmer de
      nouvelles dates de rendez-vous en concertation avec le Client sans qu’il
      ne puisse exiger de versement d’indemnités. <br />En cas d’incapacité
      physique permanente du Prestataire, tout engagement avec le client du
      Prestataire seront résiliés de plein droit sans qu’il ne puisse être
      réclamé au prestataire une quelconque indemnité compensatrice. <br />Les
      acomptes perçus seront restitués au client dans un délai maximal de 8
      (huit) jours suivant la notification d’incapacité au Client.
    </p>
    <h2 class="u-text--primary-dark mt-4">
      Article 9 - Propriété intellectuelle
    </h2>
    <p>
      Sauf accord préalable écrit du Prestataire, le Prestataire est le
      propriétaire exclusif de tous les droits de propriété intellectuelle
      portant sur les éléments communiqués au Client dans le cadre de la
      fourniture des Services, et notamment de façon non limitative sur la
      charte graphique, le titre, la forme, le plan et la structure des
      informations et documents communiqués, les textes, les logos, les marques,
      les images et photographes, les animations et vidéos, les slogans, les
      bases de données et plus généralement tout ou partie des éléments
      communiqués. <br />En conséquence, les présentes Conditions Générales
      n'entraînent le transfert d'aucun de ces droits de propriété
      intellectuelle au profit du Client, qui s'interdit de reproduire,
      d'utiliser et/ou de représenter, par quelque procédé que ce soit, même
      partiellement, tout élément sur lequel le Prestataire détient un droit de
      propriété intellectuelle.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 10 - Données personnelles</h2>
    <h3 class="u-text--primary-dark mt-4">
      A - Nature des données à caractère personnel collectées
    </h3>
    <p>
      Le Prestataire s’engage à ne collecter que des données à caractère
      personnel adéquates, pertinentes et limitées à ce qui est nécessaire au
      regard des finalités pour lesquelles elles sont traitées. Aucune donnée à
      caractère personnel considérée comme « sensible », telle que l’origine
      raciale ou ethnique, les opinions politiques, philosophiques ou
      religieuses ne saurait être demandée ni collectée auprès du Client.
      <br />Le Client est informé par les présentes de ce que les données à
      caractère personnel signalées comme étant obligatoires sur les formulaires
      et recueillies dans le cadre du service décrit dans les présentes sont
      nécessaires à la réalisation de la Prestation. Parmi les données à
      caractère personnel du Client que le Prestataire collecte auprès de lui
      peuvent figurer : <br />o Ses noms et prénoms <br />o Email et téléphone.
    </p>
    <h3 class="u-text--primary-dark mt-4">
      B - Finalité du traitement des données à caractère personnel
    </h3>
    <p>
      Des données personnelles sont susceptibles d’être collectées et utilisées
      par le Prestataire aux fins de permettre la fourniture des Services, et
      peuvent être transmises aux sociétés chargées de la gestion, de
      l’exécution et du traitement des opérations de paiement. <br />Les données
      collectées sont également susceptibles d’être utilisées dans le cadre de
      la gestion des relations commerciales afin d’établir des statistiques,
      d’effectuer des études de marché et de comportement et de permettre au
      Prestataire d’améliorer et de personnaliser les Services.
    </p>
    <h3 class="u-text--primary-dark mt-4">
      C - Conservation, sécurité et confidentialité des données à caractère
      personnel
    </h3>
    <p>
      Les données personnelles collectées sont traitées et stockées dans des
      conditions visant à assurer leur sécurité et sont conservées pour la durée
      strictement nécessaire à la réalisation des finalités visées à l’article
      10.2 des présentes Conditions Générales. <br />Ces données peuvent
      également être conservées à des fins de sécurité et de conservation, afin
      de respecter les obligations légales et réglementaires auxquelles le
      Prestataire est soumis. <br />Le Prestataire s’engage à mettre en place
      des mesures de sécurité techniques et organisationnelles en vue de
      garantir la sécurité, l’intégrité et la confidentialité de toutes les
      données à caractère personnel, afin d’empêcher que celles-ci soient
      déformées, endommagées ou que des tiers non autorisés y aient accès.
      <br />Toutefois, il est précisé qu’aucune mesure de sécurité n’étant
      infaillible, le Prestataire ne saurait garantir une sécurité absolue aux
      données à caractère personnel du Client.
    </p>
    <h3 class="u-text--primary-dark mt-4">
      D - Transfert des données à caractère personnel
    </h3>
    <p>
      Aucun transfert de données à caractère personnel n'est réalisé hors de
      l’Union Européenne. <br />Sauf dans le cas où un tiers demanderait au
      Client d’accepter une charte de confidentialité et des conditions
      d’utilisations qui lui sont propres, les sociétés tierces ayant reçu
      communication des données à caractère personnel de l’Utilisateur se sont
      engagées à traiter ses données à caractère personnel uniquement pour la
      mise en œuvre des Services du Prestataire. <br />Le Prestataire s’engage à
      ne jamais partager les données à caractère personnel du Client, sans avoir
      obtenu son consentement préalable, avec des sociétés tierces à des fins
      marketing et/ou commerciales. <br />Toutefois, le Prestataire pourra être
      amené à divulguer des données à caractère personnel du Client aux
      autorités administrative ou judiciaire lorsque leur divulgation est
      nécessaire à l’identification, l’interpellation ou la poursuite en justice
      de tout individu susceptible de porter préjudice aux droits du
      Prestataire, de tout autre client ou d’un tiers. Le Prestataire peut enfin
      être légalement tenu de divulguer les données à caractère personnel de
      l’Utilisateur et ne saurait dans ce cas s’y opposer.
    </p>
    <h3 class="u-text--primary-dark mt-4">
      E - Droits du Client sur ses données à caractère personnel
    </h3>
    <p>
      Conformément au Règlement Général sur la Protection des Données 2016/679
      du 27 avril 2016 (« RGPD »), tout Client dispose d’un droit d’accès, de
      rectification et d’effacement des données personnelles le concernant,
      qu’il peut exercer directement auprès du service clients du Prestataire en
      le contactant à l’adresse électronique mlh@humoe.fr ou à l’adresse postale
      suivante 9 rue de l’Oisonnière 72220 LAIGNÉ en BELIN en joignant à sa
      demande une copie d’un titre d’identité. <br />En outre, dans les limites
      posées par la loi, le Client dispose également du droit de s’opposer au
      traitement, de le limiter, de décider du sort post-mortem de ses données,
      de retirer son consentement à tout moment et du droit à la portabilité des
      données à caractère personnel fournies.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 11 - Durée : Résiliation</h2>
    <p>
      En cas de vente ponctuelle ou en application de conditions particulières,
      les présentes Conditions Générales sont conclues pour la durée de
      fourniture des Services, telle que mentionnée le cas échéant dans des
      conditions particulières ou dans le bon de commande. <br />Le Prestataire
      ou le Client pourra résilier les Conditions Générales de plein droit de
      manière anticipée par l’envoi d’une notification écrite : <br />• en cas
      de survenance d’un cas de force majeure visé à l’article 7 des présentes ;
      <br />• après avoir notifié l’autre partie en cas de manquement grave de
      celle-ci à ses obligations ou au titre des lois et règlements applicables,
      auquel il n’aurait pas été remédié dans un délai de quinze (15) jours
      (lorsqu’il peut être remédié à ce manquement) suivant notification écrite
      indiquant la nature du manquement et la nécessité d’y remédier.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 12 - Rétractation</h2>
    <p>
      Le cas échéant, lorsqu’une commande de Services a été souscrite par un
      Client consommateur à distance, ou hors établissement du Prestataire au
      sens de l’article L.221-1 du Code de la Consommation, le Client disposera
      d'un délai de rétractation de quatorze (14) jours francs à compter du jour
      de la signature du bon de commande, la computation du délai s’effectuant
      selon les modalités prévues à l’article L.221-19 du Code de la
      Consommation. <br />Le Client pourra notifier sa décision de se rétracter
      de sa commande au moyen du formulaire de rétractation figurant en Annexe 3
      des présentes ou d’une déclaration claire et dénuée d’ambiguïté à
      l’adresse postale ou électronique du Prestataire. <br />Le Prestataire
      accusera le cas échéant réception de la demande de rétractation conforme.
      <br />Le cas échéant, le remboursement du prix versé par le Client pour
      les Services interviendra dans un délai de quatorze (14) jours à compter
      du jour où le Prestataire aura été informé de la décision de rétractation
      de sa commande par le Client, en utilisant le même moyen de paiement que
      celui utilisé par le Client lors de la transaction initiale. A cet égard,
      il est précisé qu’en cas de demande expresse du Client d’exécution des
      Services avant la fin du délai de rétractation, ce dernier devra
      s’acquitter du prix des Services dont il a bénéficié préalablement à sa
      rétractation, conformément aux dispositions de l’article L.221-25 du Code
      de la Consommation.<br />
      Nonobstant ce qui précède, il est précisé que le droit de rétractation ne
      s’appliquera pas pour la fourniture des services visés à l’article
      L.221-28 du Code de la Consommation, notamment en cas de fourniture de
      Services pleinement exécutés avant la fin du délai de rétractation et dont
      l’exécution a commencé après accord préalable du Client et renonciation à
      son droit de rétractation.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 13 - Notifications</h2>
    <p>
      Toute notification ou convocation écrite requise ou permise en vertu des
      stipulations des présentes sera valablement effectuée si elle est adressée
      par lettre remise en main propre ou par porteur contre reçu de livraison,
      par courrier recommandé avec avis de réception, ou par courrier
      électronique (sauf en cas de résiliation des présentes), adressé aux
      coordonnées de la partie concernée, le prestataire élisant domicile en son
      siège social et le Client en son domicile personnel. <br />Tout changement
      de coordonnées d’une partie pour les besoins des présentes devra être
      notifié à l’autre partie selon les modalités prévues ci-dessus. <br />Les
      notifications adressées en mains propres ou par porteur seront présumées
      avoir été faites à leur date de remise au destinataire, telle qu'attestée
      par le reçu de livraison. Les notifications faites par courrier recommandé
      avec avis de réception seront présumées avoir été faites à la date de leur
      première présentation à l'adresse du destinataire. Les notifications
      faites par courrier électronique seront présumées avoir été faites à la
      date d'envoi du courrier électronique.
    </p>
    <h2 class="u-text--primary-dark mt-4">
      Article 14 - Autonomie et absence de renonciation
    </h2>
    <p>
      Si l'une quelconque des stipulations des présentes Conditions générales
      était déclarée nulle ou inapplicable pour quelque cause que ce soit en
      application d'une loi, d'un règlement ou à la suite d'une décision de
      justice devenue définitive, elle serait réputée non écrite et les autres
      stipulations resteraient en vigueur. <br />Le fait pour le Prestataire de
      ne pas se prévaloir à titre temporaire ou permanent d’une ou de plusieurs
      stipulations des Conditions Générales n’emportera en aucun cas
      renonciation.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 15 - Modification</h2>
    <p>
      Le Prestataire se réserve le droit de modifier à tout moment le contenu
      des présentes Conditions Générales pour la passation de nouveaux Services
      ou les modifications tarifaires. <br />Toute commande ou prise de
      rendez-vous consécutive à une modification apportée aux Conditions
      Générales emportera acceptation par chaque Client de la nouvelle version
      des Conditions Générales qui lui sera communiquée.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 16 - Litiges</h2>
    <p>
      Le Client est informé qu’il est libre de recourir gratuitement à un
      médiateur de la consommation en vue de la résolution amiable d’un litige
      qui l’opposerait au Prestataire, conformément aux articles L.611-1 et
      suivants et R.612-1 et suivants du Code de la Consommation. Le(s)
      médiateur(s) de la consommation dont relève le Prestataire est le suivant
      : CNPM Consommation 27 avenue de la Libération 42400 Saint Chamond,
      contact-admin@cnpm-mediation-consommation.eu. <br />Tous les litiges
      auxquels les Conditions Générales pourraient donner lieu, concernant tant
      leur validité, interprétation, exécution, résiliation, leurs conséquences
      et leurs suites, seront soumis au tribunal du Mans (72).
    </p>
    <h2 class="u-text--primary-dark mt-4">
      Article 17 - Droit applicable & langue
    </h2>
    <p>
      Le Client est informé qu’il est libre de recourir gratuitement à un
      médiateur de la consommation en vue de la résolution amiable d’un litige
      qui l’opposerait au Prestataire, conformément aux articles L.611-1 et
      suivants et R.612-1 et suivants du Code de la Consommation. Le(s)
      médiateur(s) de la consommation dont relève le Prestataire est le suivant
      : CNPM Consommation 27 avenue de la Libération 42400 Saint Chamond,
      contact-admin@cnpm-mediation-consommation.eu. Tous les litiges auxquels
      les Conditions Générales pourraient donner lieu, concernant tant leur
      validité, interprétation, exécution, résiliation, leurs conséquences et
      leurs suites, seront soumis au tribunal du Mans (72).
    </p>
    <br /><br /><br />
    <h2 class="u-text--primary-dark mt-4">
      Annexe 1 : Descriptif des Services
    </h2>
    <h3 class="u-text--primary-dark mt-4">Prestations de massage</h3>
    <p>
      • massage ayurvédique <br />• massage vitalisant <br />• massage drainant
      <br />• massage & posture ou respiration <br />• massage assis <br />•
      massage entre enfants
    </p>
    <h3 class="u-text--primary-dark mt-4">Prestations de shiatsu</h3>
    <p>• shiatsu</p>
    <h3 class="u-text--primary-dark mt-4">Ventes de chèques cadeau</h3>
    <p>
      • massage 1H : 60€ <br />• massage 1H30 : 80€ <br />• massage drainant
      forfait de 3 séances : 165€ <br />• La durée de validité de ces chèques
      est de 3 mois <br />• Les chèques cadeau ne pourront faire l’objet d’aucun
      remboursement. En cas de dépassement de la durée de validité, ils pourront
      faire l’objet d’une seule prolongation exceptionnelle de 3 mois.
    </p>
    <br /><br /><br />
    <h2 class="u-text--primary-dark mt-4">Annexe 2 - Conditions tarifaires</h2>
    <h3 class="u-text--primary-dark mt-4">Tarifs des massages</h3>
    <p>
      • massage ayurvédique : 1H : 60€ - 1H30 : 80€ <br />• massage vitalisant :
      1H : 60€ - 1H30 : 80€ <br />• massage drainant : 1H : 60€ - forfait 3
      séances 165€ <br />• massage & posture ou respiration 1H30 : 80€ <br />•
      massage assis : 0H30 : 30€ <br />• massage entre enfants : sur devis
    </p>
    <h3 class="u-text--primary-dark mt-4">Tarifs du shiatsu</h3>
    <p>• shiatsu : 65€</p>
    <h3 class="u-text--primary-dark mt-4">
      Tarifs des cours de Tai Chi et Qi Gong
    </h3>
    <p>• tarifs sur devis</p>
    <br /><br /><br />
    <h2 class="u-text--primary-dark mt-4">
      Annexe 3 - Formulaire de rétractation
    </h2>
    <p>
      Si le Client souhaite faire valoir son droit de rétractation - dans le
      respect des conditions prévues à l’article 12 des présentes Conditions
      Générales, il a la possibilité d’utiliser le formulaire ci-dessous :<br />
      --------------------------------------------------------------------------------------------------------------
      À l’attention de :
      <br />Je vous notifie par la présente ma rétractation du contrat portant
      sur la prestation de services suivante : <br />-Nom(s) et référence(s)
      de(s) commande(s) : <br />-Commandé(s) le : <br />Nom du client à
      l’origine de la commande : <br />Adresse du client à l’origine de la
      commande : <br />Signature du client :
    </p>
    >
  </div>
</div>
