@import "src/assets/styles/bases";

.on-top {
  position: fixed;
  right: $size-default;
  bottom: $size-default;

  @media (min-width: $small-desktop-window) {
    right: $size-large;
    bottom: $size-large;
  }
}

.on-top__icon {
  color: $color-project-quaternary;
  width: $size-large;
  height: $size-large;

  &:hover {
    cursor: pointer;
    color: $color-project-quaternary-dark;
  }
}
