<app-nav-bar [page]="page"></app-nav-bar>
<div class="massage-page">
  <app-carrousel [multiple]="false" type="massage"></app-carrousel>
  <div class="c-presentation my-5">
    <div class="c-presentation--row">
      <img
        alt="Massage auyvédique du dos"
        class="c-presentation__image img--ffmbe"
        src="assets/images/massage/logo-grand-France-Massage-rvb.png"
      />
      <p>
        Le Massage est un accompagnement personnalisé, par le toucher, pour
        favoriser, entretenir et optimiser la santé et le bien-être global du
        client. Je suis agréée FFMBE (Fédération Française de Massage-Bien-Etre)
        et me reconnait dans le cadre déontologique du label France Massage.
        <a aria-label="Site de la FFMBE" href="https://www.ffmbe.fr/"
          >le site de la FFMBE.</a
        >
      </p>
    </div>
    <div>
      <p>
        Les massages-bien-être proposés prennent en compte chacun dans sa
        globalité. Ils partagent une vision globale du corps. Ils ont comme
        point commun d’accompagner la détente, diminuer les effets du stress,
        développer la conscience du corps etc.
        <br />Dans la durée, ils développent la conscience corporelle qui
        devient un véritable point d’appui au quotidien. Ils peuvent participer
        à une démarche de développement personnel. <br />Ils peuvent aussi
        compléter la pratique du Tai Chi, s'intégrer dans un processus
        d'accompagnement à la santé et se rapprocher de la définition de l'OMS :
        La santé est un état complet de bien-être physique, mental et social et
        ne constitue pas seulement une absence de maladie ou d'infirmité.
      </p>
    </div>
  </div>
  <app-img-band
    [cadre]="true"
    class="massage__band"
    img="assets/images/bandeau/IMG_4635_1680x658.png"
    title="Les massages"
    color="quaternary"
  ></app-img-band>
  <div class="massage-page__massages">
    <app-article
      bienfaits="Décontracte et efface la fatigue, dénoue les muscles et réduit les tensions, ressource et améliore la circulation, réduit les effets du stress..."
      duree="1h à 1h30"
      id="ayurvedique"
      src="assets/images/massage/massage-ayurvedique-dos-300x200.jpg"
      tarif="60€ à 80€"
      title="Massage ayurvédique"
      color="quaternary"
    >
      <p>
        Le Massage aurvédique est un moment de bien-être et de relaxation.
        Aliance de toucher doux et bienveillant à l’huile biologique, pour
        détendre, rééquilibrer l’énergie et harmoniser le corps. Il est issu de
        la tradition ayurvédique et de la transmission d’un moine ayurvédiste
        népalais, Swami Yoga Anand, fondateur d'APMA (Association pour la
        Promotion du Massage Ayurvédique).
      </p>
    </app-article>
    <app-article
      bienfaits="Décontracte, relaxe et ressource, soulage les douleurs, réduit les effets du stress, s'associe aux besoins du moment..."
      duree="1h à 1h30"
      id="vitalisant"
      src="assets/images/massage/massage-vitalisant-300x200.jpg"
      tarif="60€ à 80€"
      color="quaternary"
      title="Massage vitalisant"
    >
      <p>
        Le Massage vitalisant est un moment de bien-être et de relaxation.
        Alliance de toucher doux, de respiration et de circulation énergétique,
        le Chi. Ecoute fine liée au mouvement de respiration primaire, pour
        détendre et soulager les douleurs, en lien au moment présent. Il
        développe notre présence au quotidien. Il est à la croisée du prendre
        soin énergétique et du massage. Au besoin, des exercices personnalisés
        accompagnent cette détente pour favoriser une coloration du quotidien.
      </p>
    </app-article>
    <app-article
      bienfaits="Défatigue et améliore la vitalité. Redonne une sensation de légèreté"
      duree="1h"
      id="drainant"
      src="assets/images/massage/massage-drainant-300x200.jpg"
      tarif="60€. (Au départ ce massage nécessite le plus souvent des scéances rapprochées) Forfait de 3 scéances 165€."
      title="massage drainant"
      color="quaternary"
    >
      <p>
        Le Massage drainant stimule la circulation dans le corps. Il accompagne
        une période de régime ou une sensation de jambes fatiguées. Alliance de
        pressions et d’effleurements sur tout le corps. Ce massage relaxe et
        défatigue en stimulant le système veineux lymphatique.
      </p>
    </app-article>
    <app-article
      bienfaits="Décontracte, ressource et soulage les douleurs. Les conseils s'inscrivent dans le prolongement du massage. Ils peuvent s'inviter au quotidien."
      duree="1h30"
      id="posture"
      src="{{ typesMassage[3].img }}"
      tarif="80€"
      title="MASSAGE & POSTURE ou RESPIRATION"
      color="quaternary"
    >
      <p>
        Le Massage & posture ou respiration est un moment de bien-être et de
        relaxation. Alliance du massage et de conseils/exercices personnalisés
        sur la posture ou la respiration. Les tensions s'installent souvent avec
        des déséquilibres posturaux, l'association du massage et des conseils
        favorisent des transformations au quotidien. Les conseils/exercices sont
        inspirés par le travail respiratoire et postural du Tai Chi, adaptés à
        chacun.
      </p>
    </app-article>
    <app-article
      bienfaits="Déstresse et détend, stimule et vitalise"
      duree="1/2h"
      id="minutes"
      src="assets/images/massage/massage-main-300x200.jpg"
      tarif="30€"
      title="MASSAGE ASSIS"
      color="quaternary"
    >
      <p>
        Le Massage assis se reçoit habillé sur chaise ergonomique. Il soulage le
        dos, les épaules, et aussi globalement le corps des tensions accumulées
        au quotidien.
      </p>
    </app-article>
    <app-article
      id="enfants"
      src="assets/images/logo/misa-france-146x250.jpg"
      title="MASSAGE ENTRE ENFANTS, école centre de loisirs"
      color="quaternary"
    >
      <p>
        Programme de massage enfants pour les écoles, accueils périscolaires,
        centre de loisirs, ateliers parents enfants. Les enfants se massent les
        uns les autres. Ils se demandent la permission et se remercient. Le
        massage se fait sur les vêtements. Il se compose de 15 mouvements
        simples et ludiques appelés "Routine". Des massages contés ou jeux kiné
        tactiles peuvent la compléter. Ni l'instructeur ni l'enseignant ne masse
        les enfants. L'adulte guide les mouvements. Le programme s'adresse aux
        enfants de 4 à 12 ans. (Dans le cadre des ateliers parents enfants,
        enfants et parents se massent réciproquement). <br />Devis sur demande.
      </p>
    </app-article>
  </div>
  <div class="c-presentation my-5">
    <p>
      Au fil du temps les massages développent la conscience de la globalité de
      notre corps. Notre corps conscient devient point d'appui et force
      intérieure, au quotidien. Cette conscience transforme, chacun à son
      rythme, dans son rapport à soi, aux autres et au monde... Ils sont un bel
      outil d'accompagnement à la santé et au bien-être.<br />
      Ces transformations, le plus souvent silencieuses, demandent un
      accompagnement éthique. J'ai choisi de réfléchir cet accompagnement à
      l'université de Tours, dans le cadre d'un diplôme universitaire puis d'un
      Master 2 en sciences de l'éducation et de la formation. Même si mes
      recherches ont portées sur les transformations du Tai Chi et leur
      accompagnement, les massages bénéficient du même fil conducteur,
      conscience corporelle et force intérieure au quotidien.
    </p>
    <p>
      Les prestations n’ont aucun but thérapeutique et en raison de leur nature,
      ne s’apparentent en rien, ni dans les contenus ni dans les objectifs, à la
      pratique de la masso-kinésithérapie, ou toute autre pratique médicale.
    </p>
  </div>
  <app-img-band
    [cadre]="true"
    class="massage__band"
    title="Témoignages"
    type="eye-bonze"
    color="quaternary"
  ></app-img-band>
  <div class="massage__testimonies">
    <app-testimony
      *ngFor="let testimony of testimonies"
      [author]="testimony.author"
      color="quaternary"
    >
      {{ testimony.testimony }}
    </app-testimony>
  </div>
</div>
