@import "src/assets/styles/bases";

.massage-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-carousel {
  width: 100%;
}

p {
  font-size: $size-default;
  color: $color-empty;
}

.massage-page__presentation {
  width: 80%;
  margin: $size-large 0;

  @media (min-width: $small-desktop-window) {
    width: 60%;
  }

}

.presentation__title {
  color: $color-project-primary;
  font-weight: $txt-bold-default;
}

.presentation__image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $small-desktop-window) {
    flex-direction: row;
  }

  img {
    width: 3*$size-large;
  }

  p {

    @media (min-width: $small-desktop-window) {
      width: 80%;
    }
  }
}

.massage__multiple_img_band {
  display: none;
  @media (min-width: $small-desktop-window) {
    display: block;

  }
}

.massage__band {
  width: 100%;
}

.massage-page__massages {
  width: 80%;
  margin: $size-large 0;

  @media (min-width: $small-desktop-window) {
    width: 60%;
  }
}

app-article {
  scroll-margin: 75px;
}


.massage__testimonies {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 2*$size-default;

  @media(min-width: $small-desktop-window) {
    margin: 4*$size-default 0;

  }

  app-testimony {
    width: 100%;
    margin-top: $size-lower;

    @media (min-width: $small-desktop-window) {
      width: 40%;
      margin-right: $size-xmedium;
    }
  }
}
