@import "src/assets/styles/bases";

.nav-bar {
  background-color: $color-default-secondary;
  box-shadow: $size-small 0 $size-small $color-empty;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: $size-header-mobile;
  top: 0;
  z-index: 99999;

  @media(min-width: $small-mobile-window) {
    justify-content: space-between;
  }

  @media(min-width: $small-desktop-window) {
    height: $size-header-desktop;

  }
}

.nav-bar__menu {
  color: $color-project-primary-dark;
  font-size: $txt-size-default;
  padding: $size-lower $size-default;

  &:hover {
    opacity: .5;

    @media(min-width: $small-desktop-window) {
      opacity: 1;
    }
  }

  @media(min-width: $small-mobile-window) {
    display: none;
  }

  @media(min-width: $small-desktop-window) {
    font-size: $txt-size-regular;
    padding: $size-medium;
  }
}

.nav-bar__website-info {
  display: none;

  @media (min-width: $small-mobile-window) {
    display: flex;
    align-items: center;
    margin-left: $size-default;
  }
}

.website-info__logo {
  background-image: url("/assets/images/favicon.png");
  background-size: contain;
  border-radius: 50%;
  width: $size-xlarge;
  height: $size-xlarge;
  margin-right: $size-medium;
}

.website-info__title {
  font-size: $txt-size-default;
  color: $color-project-secondary;
  font-weight: $txt-regular-medium;

  @media (min-width: $tablet-window) {
    font-size: $txt-size-medium;
  }

  @media (min-width: $small-desktop-window) {
    font-size: $txt-size-large;
  }
}

.nav-bar__items--mobile {
  display: flex !important;
  flex-direction: column;
  background-color: $color-project-primary-very-light;
  position: absolute;
  height: 100vh;
  padding-top: $size-default;
  left: 0;

  .item:hover {
    background-color: $color-project-primary-dark;

    .item__list {
      display: none;
    }
  }

  .item {
    color: $color-project-primary-dark;
    font-size: $txt-size-default;
    margin-bottom: $size-default;
  }

  .item__title {
    padding: 0 $size-default;

  }
}

.nav-bar__items {
  display: none;

  @media(min-width: $small-mobile-window) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: $size-large;
    height: 100%;
  }
}

.item {
  font-size: $txt-size-regular;
  color: $color-project-primary-dark;

  &.active {
    color: $color-project-secondary-dark;
  }
}

.item__title {
  padding: $size-medium $size-default;

  &:hover {
    background-color: $color-project-primary-dark;
    color: $color-project-primary-very-light;
    font-weight: $txt-bold-default;
  }
}

.item:hover .item__list {
  display: flex;
  flex-direction: column;
}

.item__list {
  display: none;
  background-color: $color-default-secondary;
  color: $color-project-tertiary-dark;
  box-shadow: -10px 10px 5px -2px rgba($grey, 0.1);
  border-radius: $border-radius-default;
  position: absolute;
  min-width: 10%;
  margin-top: $size-default;
  padding: $size-lower 0;

  a {
    padding: $size-lower $size-large $size-lower $size-default;

    &:hover {
      background-color: $color-project-tertiary-dark;
      color: $color-project-tertiary-very-light;
      font-weight: $txt-bold-default;
    }
  }
}
