<app-nav-bar></app-nav-bar>
<div class="mediation-page">
  <div class="mediation__content">
    <h1 class="u-text--primary-dark mb-4">Médiation à la consommation</h1>
    <p>
      Conformément aux articles L.616-1 et R.616-1 du code de la consommation,
      nous proposons un dispositif de médiation de la consommation. L’entité de
      médiation retenue est la CNPM Médiation Consommation. En cas de litige,
      vous pouvez déposer votre réclamation sur son site
      https://www.cnpm-mediation-consommation.eu/ ou par voie postale en
      écrivant à CNPM Consommation, 27 avenue de la Libération 42400
      Saint-Chamond.
    </p>
  </div>
</div>
