@import "src/assets/styles/bases";

.multiple-img-band {
  display: flex;
}

.multiple-image-band__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover .item__title {
    display: block;
  }
}

.item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}

.item__title {
  color: #6fb2b7;
  text-shadow: 4px 4px 6px $color-empty-dark;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  display: none;
  position: absolute;
  width: 190px;
}

.item__title--dark {
  color: #30020f;
  text-shadow: 4px 4px 6px #f7e8ec;
}
