@import "src/assets/styles/bases";

.footer {
  bottom: 0;
  background-color: $color-empty;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $size-large 0;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  width: 80%;

  @media (min-width: $small-desktop-window) {
    flex-direction: row;
  }
}

.contact__item {
  background-color: rgba($color-empty-dark, 0.72);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $size-lower;


  @media (min-width: $small-desktop-window) {
    width: 33.33333333%;
  }


  &.contact__item--dark {
    background-color: $color-empty-dark;
  }

  h4 {
    color: $color-project-secondary;
    font-weight: $txt-regular-medium;
    text-transform: uppercase;
    font-size: $txt-size-regular
  }

  p {
    color: $color-empty-very-light;
    font-size: $txt-size-default;
  }
}

.footer__content {
  display: flex;
  width: 80%;
  margin: $size-xmedium 0;
}

.content__item {
  h3 {
    text-transform: uppercase;
    color: $color-empty-very-light;
    font-weight: $txt-bold-default;
    font-size: $txt-size-regular;
  }

  p, a {
    font-size: $txt-size-default;
    color: $color-empty-light;
  }
}

.col--mobile {
  max-width: 100%;
  flex: none;

  @media (min-width: $small-desktop-window) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.content__item--mobile {
  display: none;

  @media (min-width: $small-desktop-window) {
    display: block;
  }
}

.content__posts {
  display: flex;
  flex-wrap: wrap;

  app-post {
    width: 50%;
  }
}

.footer__credit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-top: $size-default;
  color: $color-empty-light;

  @media (min-width: $small-desktop-window) {
    flex-direction: row;
    align-items: flex-end;
  }
}


a {
  text-decoration: underline;

  &:hover {
    color: $color-project-secondary-light !important;
  }
}
