<footer class="footer">
  <h2 class="sr-only">Footer</h2>
  <div class="footer__contact">
    <h3 class="sr-only">Contact</h3>
    <div class="contact__item">
      <h4>m'appeler</h4>
      <p>Mobile: 0608032645</p>
    </div>
    <div class="contact__item contact__item--dark">
      <h4>venir me voir</h4>
      <p>
        9 rue de l'oisonnière <br/>
        72220 Laigné en Belin
      </p>
    </div>
    <div class="contact__item">
      <h4>m'envoyer un mail</h4>
      <p>
        <a
          (click)="meContacter()"
          alt="Envoyer un mail"
          class="none"
          disabled
        >
          Cliquer ici
        </a>
      </p>
    </div>
  </div>
  <div class="footer__content">
    <div class="col--mobile mr-3">
      <div class="content__item">
        <h3>cadre éthique</h3>
        <p>
          Congruence - Présence - Ecoute active et sensible - Ouverture -
          Disponibilité - Confiance - Bienveillance et non jugement -
          Persévérance - Confidentialité - Respect des engagements - Respect du
          rythme de chacun - Posture d'accompagnement :"Je ne sais pas pour
          l'autre".
        </p>
      </div>
      <div class="content__item">
        <h3>Website</h3>
        <div>
          <a class="none" routerLink="/taichi">Tai Chi</a> -
          <a class="none" routerLink="/massage">Massage</a> -
          <a class="none" routerLink="/shiatsu">Shiatsu</a> -
          <a class="none" routerLink="/entreprise">Entreprise</a> -
        </div>
      </div>
    </div>
    <div class="content__item content__item--mobile">
      <h3>dernières mises à jour</h3>
      <div class="content__posts">
        <app-post
          date="26/01/2021"
          img="assets/images/svg/tai-chi.svg"
          redirect="/taichi"
          title="Page tai chi"
        >
        </app-post>
        <app-post
          date="26/01/2020"
          img="assets/images/svg/building.svg"
          redirect="/"
          title="Page accueil"
        >
        </app-post>
        <app-post
          anchor="drainant"
          date="26/01/2021"
          img="assets/images/svg/massage.svg"
          redirect="/massage"
          title="massage"
        >
        </app-post>
      </div>
    </div>
  </div>
  <div class="footer__credit">
    <span>Humoe© copyright - All right reserved.</span>
    <div class="credit__flaticon">
      <div>
        Icons made by
        <a
          alt="Freepik"
          class="none"
          href="https://www.flaticon.com/authors/freepik"
        >Freepik</a
        >,
        <a
          alt="Smashicons"
          class="none"
          href="https://www.flaticon.com/authors/smashicons"
        >Smashicons</a
        >,
        <a
          alt="Pause08"
          class="none"
          href="https://www.flaticon.com/authors/pause08"
        >Pause08</a
        >
        and
        <a
          alt="Good Ware"
          class="none"
          href="https://www.flaticon.com/authors/good-ware"
        >Good Ware</a
        >
        from
        <a alt="Flaticon" class="none" href="https://www.flaticon.com/"
        >www.flaticon.com</a
        >
      </div>
    </div>
    <div class="credit__reseaux">
      <a class="none" href="https://www.facebook.com/marielauretaichi"
      >Facebook</a
      >
      |
      <a
        class="none"
        href="https://fr.linkedin.com/in/marie-laure-humeau-b7b2b8137"
      >LinkedIn</a
      >
    </div>
  </div>
</footer>
