<footer class="footer">
  <h2 class="sr-only">Footer</h2>
  <div class="footer__contact">
    <h3 class="sr-only">Contact</h3>
    <div class="contact__item">
      <h4>m'appeler</h4>
      <p>Mobile: 0608032645</p>
    </div>
    <div class="contact__item contact__item--dark">
      <h4>venir me voir</h4>
      <p>
        9 rue de l'oisonnière <br />
        72220 Laigné en Belin
      </p>
    </div>
    <div class="contact__item">
      <h4>m'envoyer un mail</h4>
      <p>
        <a (click)="meContacter()" alt="Envoyer un mail" class="none" disabled>
          Cliquer ici
        </a>
      </p>
    </div>
  </div>
  <div class="footer__content">
    <div class="content__item">
      <h3>cadre éthique</h3>
      <p>
        Congruence - Présence - Ecoute active et sensible - Ouverture -
        Disponibilité - Confiance - Bienveillance et non jugement - Persévérance
        - Confidentialité - Respect des engagements - Respect du rythme de
        chacun - Posture d'accompagnement :"Je ne sais pas pour l'autre".
      </p>
    </div>
    <div class="content__item">
      <a class="none" routerLink="/mentions">Mentions légales</a>
      <a class="none" routerLink="/rgpd">RGPD</a>
      <a class="none" routerLink="/conditions-generales-vente">Conditions générales de vente</a>
      <a class="none" routerLink="/mediation">Médiation</a>
    </div>
  </div>
  <div class="footer__credit">
    <span>Humoe© copyright - All right reserved.</span>
    <div class="credit__flaticon">
      <div>
        Icons made by
        <a
          title="Freepik"
          class="none"
          href="https://www.flaticon.com/authors/freepik"
          >Freepik</a
        >,
        <a
          href="https://www.flaticon.com/authors/surang"
          class="none"
          title="surang"
          >surang</a
        >,
        <a
          href="https://www.flaticon.com/authors/gariebaldy"
          class="none"
          title="gariebaldy"
          >gariebaldy</a
        >
        and
        <a
          href="https://www.flaticon.com/authors/konkapp"
          class="none"
          title="Konkapp"
          >Konkapp</a
        >
        from
        <a title="Flaticon" href="https://www.flaticon.com/" class="none"
          >www.flaticon.com</a
        >
      </div>
    </div>
    <div class="credit__reseaux">
      <a class="none" href="https://www.facebook.com/marielauretaichi"
        >Facebook</a
      >
      |
      <a
        class="none"
        href="https://fr.linkedin.com/in/marie-laure-humeau-b7b2b8137"
        >LinkedIn</a
      >
    </div>
  </div>
</footer>
