<app-nav-bar></app-nav-bar>
<div class="mentions-page">
  <div class="mentions__content">
    <h1 class="u-text--primary-dark mb-4">Mentions légales</h1>
    <h2 class="u-text--primary-dark mt-4">Médiation à la consommation</h2>
    <p>
      Conformément aux articles L.616-1 et R.616-1 du code de la consommation,
      nous proposons un dispositif de médiation de la consommation. L’entité de
      médiation retenue est la CNPM Médiation Consommation. En cas de litige,
      vous pouvez déposer votre réclamation sur son site
      https://www.cnpm-mediation-consommation.eu/ ou par voie postale en
      écrivant à CNPM Consommation, 27 avenue de la Libération 42400
      Saint-Chamond.
    </p>
    <h2 class="u-text--primary-dark mt-4">Politique de confidentialité</h2>
    <p>
      Les données personnelles collectées sont enregistrées dans un fichier
      informatisé (ou sur un support papier) conformément à notre Politique de
      confidentialité. Vous disposez d’un droit d’accès, de rectification ou
      d’effacement des données à caractère personnel vous concernant, et le cas
      échéant, d’un droit à la portabilité de vos données. Vous pouvez demander
      la limitation ou vous opposer au traitement de vos données, ou le cas
      échéant, retirer votre consentement. Vous pouvez exercer ces droits en
      écrivant à l’adresse suivante 9 rue de l'Oisonnière 72220 LAIGNÉ EN BELIN
      ou par courriel à l’adresse électronique mlh@humoe.fr
    </p>
    <h2 class="u-text--primary-dark mt-4">
      Conditions générales de vente de prestations de service
    </h2>
    <p>
      Conformément à l’article L. 111-1 du Code de la consommation, les
      conditions générales de vente de tous les produits et prestations que nous
      proposons à nos clients particuliers, sont consultables sur simple demande
      de leur part. Les Conditions Générales de Vente seront obligatoirement
      portées à la connaissance de nos clients, préalablement à la vente d’un
      produit ou d’une prestation de service. Afin de les rendre opposable par
      chacune des parties, le client sera tenu de reconnaitre en avoir eu
      connaissance et d’en accepter les termes (Consentement).
    </p>
  </div>
</div>
