<app-nav-bar></app-nav-bar>
<div class="mentions-page">
  <div class="mentions__content">
    <h1 class="u-text--primary-dark mb-4">Mentions légales du site humoe</h1>
    <p>
      Conformément aux dispositions des Articles 6-III et 19 de la Loi
      n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique,
      dite L.C.E.N., il est porté à la connaissance des utilisateurs et
      visiteurs du site humoe les présentes mentions légales. <br />
      Le site humoe est accessible à l'adresse suivante : https://humoe.fr/
      (ci-après "le Site"). L'accès et l'utilisation du Site sont soumis aux
      présentes " Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou
      règlements applicables.<br />
      La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation
      intégrale et sans réserve de l'internaute de toutes les dispositions des
      présentes Mentions Légales.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 1 - Informations légales</h2>
    <p>
      En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la
      confiance dans l'économie numérique, il est précisé dans cet article
      l'identité des différents intervenants dans le cadre de sa réalisation et
      de son suivi.
    </p>
    <h3 class="u-text--primary-dark mt-4">A. Editeur du site</h3>
    <p>
      Le site humoe est édité par : Entreprise individuelle Marie-Laure
      HUMEAU<br />
      domicilié à l'adresse suivante : 9 rue de l'Oisonnière 72220 LAIGNÉ en
      BELIN, et identifiée sous le numéro SIRENE suivant : 519897169.
      <br />Téléphone : 0608032645<br />Adresse e-mail : mlh@humoe.fr<br />
      ci-après " l'Éditeur "
    </p>
    <h3 class="u-text--primary-dark mt-4">B. Directeur de publication</h3>
    <p>
      Le Directeur de publication est : Entreprise individuelle Marie-Laure
      HUMEAU <br />Adresse e-mail de contact : mlh@humoe.fr <br />ci-après " le
      Directeur de publication "
    </p>
    <h3 class="u-text--primary-dark mt-4">C. Hébergeur du site</h3>
    <p>
      Le site humoe est hébergé par : OVH SAS <br />dont le siège est situé à
      l'adresse suivante : 2 rue Kellermann - 59100 Roubaix <br />Téléphone :
      1007 <br />Adresse e-mail : support@ovh.com. <br />ci-après " l'Hébergeur
      "
    </p>
    <h3 class="u-text--primary-dark mt-4">D. Utilisateurs</h3>
    <p>
      Sont considérés comme utilisateurs tous les internautes qui naviguent,
      lisent, visionnent et utilisent le site humoe. ci-après les " Utilisateurs
      "
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 2 - Accessibilité</h2>
    <p>
      Le Site est par principe accessible aux Utilisateurs 24/24h et 7/7j, sauf
      interruption, programmée ou non, pour des besoins de maintenance ou en cas
      de force majeure. <br />En cas d'impossibilité d'accès au Site, celui-ci
      s'engage à faire son maximum afin d'en rétablir l'accès. Le Site ne
      saurait être tenu pour responsable de tout dommage, quelle qu'en soit la
      nature, résultant de son indisponibilité.
    </p>
    <h2 class="u-text--primary-dark mt-4">
      ARTICLE 3 - Loi appicable et juridiction
    </h2>
    <p>
      Les présentes Mentions Légales sont régies par la loi française. En cas de
      différend et à défaut d'accord amiable, le litige sera porté devant les
      tribunaux français conformément aux règles de compétence en vigueur.
    </p>
    <h2 class="u-text--primary-dark mt-4">Article 4 - Contact</h2>
    <p>
      Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur
      peut contacter l'Éditeur à l'adresse suivante : mlh@humoe.fr, ou par
      courrier recommandé avec accusé de réception adressé à l'Éditeur aux
      coordonnées précisées dans les présentes mentions légales.
      <br />
      Le site humoe vous souhaite une excellente navigation !
    </p>
  </div>
</div>
