@import "src/assets/styles/bases";

app-carousel {
  width: 100%;
}

.entreprise__page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entreprise__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: $size-large;

  @media (min-width: $medium-desktop-window) {
    flex-direction: row;
  }
}

.presentation__image {
  height: 100%;

  @media (min-width: $medium-desktop-window) {
    margin-right: $size-xmedium;
  }

}

.presentation__text {
  color: $color-empty;
  font-weight: $txt-regular-medium;
  text-align: justify;
  display: flex;
  padding-top: $size-medium;

  .img-certification-taichi {
    cursor: pointer;
    align-self: center;
    width: 100%;
    height: 100%;
  }
}

.entreprise__chapters {
  width: 80%;

  @media (min-width: $small-desktop-window) {
    width: 75%;
  }

  @media (min-width: $medium-desktop-window) {
    width: 65%;
  }
}

.entreprise__chapter {
  width: 90%;
  margin: $size-large 0;

  @media (min-width: $small-desktop-window) {
    width: 80%;
  }

  @media (min-width: $medium-desktop-window) {
    width: 65%;
  }
}

.chapter__subtitle {
  text-transform: uppercase;
  color: $color-project-primary;
}

.chapter__testimonies {
  display: flex;
  flex-wrap: wrap;

  app-testimony {
    width: 100%;
    margin-top: $size-lower;

    @media (min-width: $small-desktop-window) {
      width: 40%;
      margin-right: $size-xmedium;
    }

    @media(min-width: $medium-desktop-window) {
      width: 30%;
    }
  }

}

.entreprise__band {
  width: 100%;
}

