<app-nav-bar [page]="page"></app-nav-bar>
<div class="entreprise__page">
  <app-carrousel [multiple]="false" type="entreprise"></app-carrousel>
  <div class="entreprise__presentation">
    <img
      alt="Marie-Laure Humeau, professeur de Tai Chi, Le Mans"
      class="presentation__image"
      src="assets/images/taichi/noirmoutier guitare 300x224.jpg"
    />
    <p class="presentation__text">
      Marie laure, accompagne la conscience du corps par le Tai Chi, le Qi Gong,
      la méditation et les Massages Bien-être…
      <br />
      Le Tai Chi le Qi Gong, la méditation favorisent l’équilibre du corps et de
      l’esprit. Ces pratiques millénaires prennent toutes leurs places en
      entreprise où l’on cherche à développer la qualité de vie au travail.
      <br />
      Rendre son corps vivant et conscient développe un véritable point d’appui
      au quotidien. Il développe les Soft Skills ou savoir-être dont nous
      parlons aujourd'hui : relation à soi et aux autres, souplesse,
      adaptabilité, travail en groupe, gestion du stress ... et bien d'autres.
      <br />
      J’accompagne ces transformations au rythme de chacun auprès des
      particuliers comme en entreprise.
    </p>
  </div>
  <div class="entreprise__presentation mb-5">
    <span
      (click)="goToQuatrePilier()"
      aria-label="Site des quatres piliers"
      class="presentation__image"
      style="align-self: center"
    >
      <img
        alt="Enseignant certifié corps vivant corps conscient"
        class="img-certification-taichi"
        src="assets/images/logo/corps-viviant-corps-conscient.jpg"
        style="width: 300px"
      />
    </span>
    <p class="presentation__text">
      Je pratique le Tai Chi, le Qi Gong et la méditation depuis une quinzaine
      d’années. Je participe au rayonnement du réseau Corps Vivant Corps
      Conscient dans le monde du travail.
      <br />
      La pédagogie Corps Vivant Corps conscient se distingue par une pédagogie
      progressive et précise. Elle met l'accent sur le ressenti et développe une
      meilleure qualité de vie.
      <br />
      Un corps vivant, c’est à dire disponible, souple, puissant, en santé.
      <br />
      Un corps conscient c’est-à-dire centré, incarné, où l’énergie circule,
      libéré.
    </p>
  </div>
  <div class="entreprise__chapters">
    <app-chapter
      (click)="goToChapter1()"
      img="assets/images/taichi/tai-chi-s_accorder-445x203.png"
      title="Cours à l'année : Tai Chi, Qi Gong et méditation"
    >
      <p class="chapter__teaser">
        Le Tai Chi, le Qi Gong et la méditation sont accessibles à tous. Leur
        pratique développe la souplesse, l’équilibre, la respiration, le
        lâcher-prise, la relation aux autres, l'ancrage …
        <br />
        Les cours associent des temps de relaxation, d’assouplissement, de
        méditation en parallèle des mouvements lents. Toutes ces techniques
        permmettent d'aller plus loin que le simple apprentissage des
        mouvements.
        <br />
      </p>
    </app-chapter>
    <app-chapter
      (click)="goToChapter2()"
      img="assets/images/taichi/qi-gong-entreprise-2-363x186.png"
      title="Ateliers ponctuels : Collectifs ou individuels"
    >
      <p class="chapter__teaser">
        Les ateliers sont accessibles à tous. ils favorisent la qualité de vie
        au travail. Ils peuvent être ponctuels ou selon une périodicité fixée
        avec l'entreprise.
        <br />
        La pédagogie corps vivant corps conscient est adaptée à notre monde
        occidentale et au monde du travail.
      </p>
    </app-chapter>
    <app-chapter
      (click)="goToChapter3()"
      img="assets/images/massage/massage-assis-200x260.jpg"
      title="Massages-bien-être minutes"
    >
      <p class="chapter__teaser">
        Les massages minutes sont accessibles à tous. Ils durent de 15 à 30mn et
        se reçoivent habillés le plus souvent assis. Ils visent la globalité du
        corps dans un esprit de détente et de libération des tensions accumulées
        au quotidien, sur le lieu du travail comme sur le lieu personnel.
      </p>
    </app-chapter>
  </div>
  <app-img-band
    [cadre]="true"
    class="entreprise__band"
    id="taichi"
    img="assets/images/bandeau/IMG_4627_1680x658.png"
    title=" Cours à l'année : Tai Chi, Qi Gong et méditation"
  >
  </app-img-band>
  <div class="entreprise__chapter">
    <p class="chapter__content">
      Ces pratiques chinoises millénaires favorisent l'équilibre du corps, de
      l'esprit et de l'énergie. Elles associent, au sol, relaxation,
      assouplissement, méditation... et, debout, le plaisir de se mouvoir dans
      l'espace. Elles harmonisent le mental, les émotions, le physique et
      l'énergie. Elles développent souplesse, équilibre, coordination,
      respiration, enracinement...
      <br />
      La pratique est accessible à tous.
      <br />
      Elle favorise, en entreprise, la qualité de vie au travail.
      <br />
      Grâce aux exercices, les techniques s'apprennent au rythme de chacun.
      Elles peuvent être utilisées au quotidien.
      <br />
      Chacun, à son rythme, apprend à se détendre, se ressourcer, respirer,
      influencer sa posture etc. Chacun développe, à son rythme, des
      attitudes/aptitudes pour mieux vivre son quotidien : gestion du stress,
      posture assise et debout confortable etc.
      <br />
      La pratique est aussi une expérience de groupe. Elle influence
      progressivement la relation aux autres et de fil en aiguille le travail
      collaboratif dans l’entreprise.
      <br />
      Les cours sont le plus souvent proposés en format d’une heure pour
      s’adapter au cadre de l’entreprise.
    </p>
    <h4 class="chapter__subtitle mb-3">RETOUR DES PARTICIPANTS</h4>
    <div class="chapter__testimonies">
      <app-testimony [small]="true">
        Mon dos et mes épaules sont soulagées même s’il reste encore à faire.
      </app-testimony>
      <app-testimony [small]="true"
        >Je me sens beaucoup plus légère et détendue.
      </app-testimony>
      <app-testimony [small]="true"
        >Mon dos est moins endolori et plus souple, ma respiration facilitée et
        plus souple.
      </app-testimony>
      <app-testimony [small]="true"
        >Mon sommeil est plus réparateur.
      </app-testimony>
      <app-testimony [small]="true">
        J’ai aimé les fous rires, la détente, l’harmonie, sentir mes mouvements
        se déverrouiller, cela fait du bien tout simplement.
      </app-testimony>
      <app-testimony [small]="true"
        >Mes relations sont plus apaisées, je suis plus calme.
      </app-testimony>
      <app-testimony [small]="true"
        >J'ai pris du recul avec des situations même stressantes.
      </app-testimony>
      <app-testimony [small]="true">
        Mes relations sont plus apaisées, je suis peut-être plus à l’écoute et
        moins dans le rentre dedans.
      </app-testimony>
    </div>
  </div>
  <app-img-band
    [cadre]="true"
    class="entreprise__band"
    id="ateliers"
    img="assets/images/bandeau/IMG_4627_1680x658.png"
    title="Ateliers ponctuels : Collectifs ou individuels"
  >
  </app-img-band>
  <div class="entreprise__chapter">
    <p class="chapter__content">
      Les ateliers sont accessibles à tous. Ils favorisent la qualité de vie au
      travail. Ils peuvent être ponctuels ou selon une périodicité fixée avec
      l’entreprise.
      <br />
      Les thèmes peuvent variés entre la relaxation, la respiration, retrouver
      une posture debout ou assise confortable, retrouver le plaisir de se
      concentrer. Ils sont construits pour favoriser le thème de l’atelier mais
      aussi son transfert dans le quotidien professionnel comme personnel. Ils
      sont choisis en collaboration avec l’entreprise.
      <br />
      La même démarche d’accompagnement peut être proposée individuellement.
      <br />
      Objectif, fil conducteur : développer et faire de sa conscience corporelle
      une véritable compétence.
    </p>
    <h4 class="chapter__subtitle mb-3">RETOURS DES PARTICIPANTS</h4>
    <div class="chapter__testimonies">
      <app-testimony [small]="true">
        J’ai aimé prendre conscience de mon corps pour me détendre.
      </app-testimony>
      <app-testimony [small]="true">
        J’ai aimé apprendre plusieurs relax.
      </app-testimony>
      <app-testimony [small]="true">
        J’ai aimé apprendre à connaitre mon corps.
      </app-testimony>
      <app-testimony [small]="true">
        J’ai aimé apprendre à me détendre.
      </app-testimony>
      <app-testimony [small]="true">
        J’ai aimé passé un moment agréable.
      </app-testimony>
      <app-testimony [small]="true">
        Marie-Laure je partage les retours des secrétaires après notre atelier
        de vendredi. Les retours sont très positifs, elles ont toutes apprécié.
        Voici quelques extraits de leur bilan : "J'ai aimé prendre conscience de
        mon corps pour me détendre" "J'ai aimé apprendre plusieurs relax" "J'ai
        aimé passé un moment agréable".
        <br />
        Sophie et Léatitia ont, elles aussi apprécié, l'ambiance créée a
        facilité la suite de la réunion. (elles animaient une réunion après
        l'atelier).
      </app-testimony>
    </div>
  </div>

  <app-img-band
    [cadre]="true"
    class="entreprise__band"
    id="massages-minute"
    img="assets/images/bandeau/IMG_4627_1680x658.png"
    title="MASSAGES-BIEN-ÊTRE MINUTES"
  >
  </app-img-band>
  <div class="entreprise__chapter">
    <p class="chapter__content">
      Les massages minutes sont accessibles à tous. Ils durent de 15 à 30mn et
      se reçoivent habillés le plus souvent assis. Ils visent la globalité du
      corps dans un esprit de détente et de libération des tensions accumulées
      au quotidien. Ils sont très favorables pour développer la qualité de vie
      au travail ou lors d’animations évènementielles. Ils peuvent être proposés
      de façon ponctuelle ou périodique.
    </p>
  </div>
</div>
