@import "src/assets/styles/bases";

app-carousel {
  width: 100%;
}

.entreprise__page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entreprise__presentation {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: $size-large;
}

.presentation__image {
  height: 100%;
  margin-right: $size-xmedium;
}

.presentation__text {
  color: $color-empty;
  font-weight: $txt-regular-medium;
  text-align: justify;
  display: flex;
  padding-top: $size-medium;

  .img-certification-taichi {
    cursor: pointer;
    align-self: center;
    height: 100%;
  }
}

.entreprise__chapters {
  width: 65%;
  margin: $size-large 0;
}

.entreprise__chapter {
  width: 65%;
  margin: $size-large 0;
}

.chapter__subtitle {
  text-transform: uppercase;
  color: $color-project-primary;
}

.chapter__testimonies {
  display: flex;
  flex-wrap: wrap;

  app-testimony {
    width: 30%;
    margin-top: 0.5rem;
    margin-right: 2rem;
  }
}

.entreprise__band {
  width: 100%;
}

