<app-nav-bar [page]="page"></app-nav-bar>
<div class="about-page">
  <app-carrousel type="about"></app-carrousel>
  <div class="home__about">
    <h3 class="c-presentation__title c-presentation__title--tertiary mt-5">
      Accompagner la conscience corporelle
      tant sur le plan physique qu'énergétique est, comme le Tai Chi, tout un
      art.
    </h3>
    <p class="c-presentation__text">
      Je pratique le Tai Chi, le Qi Gong et la méditation depuis plus de 15
      ans. J'accompagne également par le massage et je transmets avec plaisir
      cette conscience du corps vivant par un toucher bienveillant. Le shiatsu
      vient enrichir cet accompagnement dans une démarche d'équilibre et de
      santé globale.<br/>
      Développer la conscience de son corps, de soi, est particulièrement
      enrichissant. Elle devient, au fil du temps, un point d'appui et une
      force intérieure. Elle transforme, le rapport à soi, aux autres et au
      monde, au rythme de chacun.
    </p>
    <p class="c-presentation__text">
      Le Tai Chi m'est devenu un art de vie. Elle est un chemin. J'aime le
      transmettre parce que chacun peut se mettre en mouvement d'où qu'il
      parte, à son rythme. Le Tai Chi se nourrit aussi des techniques de Chi,
      que l'on transmet pas à pas au fil des exercices. Je sens de plus en
      plus la vie que les deux amènent dans mon corps et autour de moi. La
      sensibilité qu’ils développent, l’étincelle qu’ils allument.
    </p>
    <p class="c-presentation__text">
      J’aime transmettre, faire découvrir les mouvements, les techniques de
      Chi, puis laisser découvrir ce qui se délie dans chacun de nos corps.
      Plus souple, plus sensible, plus vivant, plus conscient du Chi.
    </p>
    <img
      alt="Pratique du tai chi en intérieur"
      class="c-presentation__image align-self-center mr-4"
      src="assets/images/taichi/tai-chi-interieur-plcn-300x168.png "
    />
    <p class="c-presentation__text">
      Les massages et petit à petit le shiatsu participent aussi à cette
      transmission. Un corps vivant, un corps conscient s’est une véritable
      ouverture et aussi une véritable éducation. Chacun va à son rythme.
    </p>
    <p class="c=presentation_text">
      Le Tai Chi, le massage, le shiatsu sont des guides. On y découvre le
      Chi, sans partir dans tous les sens. L’ancrage y est pour beaucoup. Il
      est une balise indéniable pour le faire étinceler.
      <br/>Ils sont des « outils » que j’ai choisi de partager. Ils
      développent une force qui donne envie de vivre avec soi, les autres et
      le monde. <br/>Comme le Tai Chi le massage peut être un simple
      rendez-vous ou un processus vers un corps vivant et conscient. Chacun
      choisit.
    </p>
    <p>
      Mon accompagnement est nourri de ces 20 dernières années ; le
      cheminement du Tai Chi, mes six années de formation en thérapie
      manuelle, mes quatre années à l’université. Dans ce cadre, j’ai pu eu
      fil de mes travaux de recherches, prendre le temps d’un regard réflexif
      sur les transformations silencieuses du Tai Chi. J’ai pu aussi
      développer des outils pour favoriser l’ancrage de ces transformations au
      rythme de chacun.
      <br/>Un corps vivant et conscient est un formidable point d’appui !
      C’est un apprentissage très enrichissant.
    </p>
    <p class="mt-3">
      Aujourd'hui accompagner est devenu :<br/>Transmettre la richesse de la
      <strong>conscience corporelle interne</strong>. Transmettre l’<strong
    >équilibre corps, esprit, énergie</strong
    >. Transmettre les mouvements de <strong>Tai Chi</strong>, l’<strong>
      assouplissementdu corps et de l’esprit</strong
    >. Respecter le rythme de chacun. Faire vivre la confiance comme une
      relation. Faire émerger les ressources et savoirs passés inaperçus.
      Favoriser la prise de conscience de l’expérience, l’autonomie, la
      cohésion du groupe…
      <br/>
      «<em
    >La conscience corporelle favorise l’harmonie elle est accessible à
      tous</em
    >» M. Csikszentmihaly
      <br/>
      <br/><br/>Au plaisir de vous rencontrer
    </p>
    <div class="about__timeline">
      <h3
        class="c-presentation__title c-presentation__title--tertiary mt-5 text-uppercase"
      >
        Mon cursus de formations :
      </h3>
      <div class="c-timeline tertiary my-5">
        <div class="c-timeline__item c-timeline__item--white">
          <div class="c-timeline__content">
            <p class="c-timeline__title">2018 - 2021</p>
            <p class="c-timeline__text">
              Formation pour devenir spécialiste en shiatsu, titre RNCP
            </p>
          </div>
        </div>
        <div class="c-timeline__item c-timeline__item--white">
          <div class="c-timeline__content">
            <p class="c-timeline__title">2013 - 2015</p>
            <p class="c-timeline__text">
              Master IFAC (ingénierie et fonctions d'accompagnement en
              formation) <br/>
              Mémoire : Pratique corporelle interne et autoformation
              existentielle, Etude d’un accompagnement réflexif de pratiquants
              de Tai Ji Quan <br/>
              Sujet : Apprentissage d’une capacité à agir sur soi, en lien
              avec les autres transférable dans la vie professionnelle comme
              personnelle
            </p>
          </div>
        </div>
        <div class="c-timeline__item c-timeline__item--white">
          <div class="c-timeline__content">
            <p class="c-timeline__title">2011 - 2013</p>
            <p class="c-timeline__text">
              DUHEPS (Diplôme universitaire de hautes études en pratiques
              sociales)<br/>
              Mémoire : D’une pratique de loisir à une formation
              expérientielle, Les transformations silencieuses du Tai Ji
              Quan<br/>
              Sujet : Transformations silencieuses liées à la pratique du Tai
              Chi et coloration du quotidien
            </p>
          </div>
        </div>
        <div class="c-timeline__item c-timeline__item--white">
          <div class="c-timeline__content">
            <p class="c-timeline__title">2011</p>
            <p class="c-timeline__text">CQP Animateur de loisir sportif</p>
          </div>
        </div>
        <div class="c-timeline__item c-timeline__item--white">
          <div class="c-timeline__content">
            <p class="c-timeline__title">2009</p>
            <p class="c-timeline__text">Massages ayurvédique et stimulant</p>
          </div>
        </div>
        <div class="c-timeline__item c-timeline__item--white">
          <div class="c-timeline__content">
            <p class="c-timeline__title">2003 - 2009</p>
            <p class="c-timeline__text">Thérapie manuelle énergétique</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
