<app-nav-bar [page]="page" xmlns="http://www.w3.org/1999/html"></app-nav-bar>
<div class="home-page">

  <app-carousel [multiple]="true"></app-carousel>
  <div class="home__thumbnails">
    <div class="thumbnails-container">
      <app-thumbnail class="thumbnails__item" text="tai chi" type="taichi"></app-thumbnail>
      <app-thumbnail class="thumbnails__item" text="Massage-Bien-Etre" type="massage"></app-thumbnail>
      <app-thumbnail class="thumbnails__item" text="Shiatsu" type="shiatsu"></app-thumbnail>
      <app-thumbnail class="thumbnails__item" text="Et pour votre entrprise?" type="entreprise"></app-thumbnail>
    </div>
  </div>
  <div class="home__presentation">
    <span class="presentation__title">
      Un accompagnement porté par le <strong>M</strong>ouvement, l'équi<strong>L</strong>ibre et l'<strong>H</strong>umanité
    </span>
    <div class="presentation__text">
      <p>Le mouvement est la vie. Il participe à notre équilibre comme une recherche au quotidien.</p>
      <p> Les mouvements, intérieurs et extérieurs, de Tai Chi – Qi Gong – Méditation – Massages-Bien-Etre participent à
        cette recherche.<br>
        Elle est accessible à tous.Elle nous transforme silencieusement, sans en avoir l’air, à notre
        rythme. Elle développe notre Humanité.</p>
      <p>La démarche est personnelle. Elle prend aussi toute sa place sur les lieux de travail, de formation, où elle
        développe, entre autre, le travail collaboratif.</p>
    </div>
  </div>
  <app-img-band [title]="'Actualités'" [type]="'ears-bonze'"></app-img-band>


  <div class="home__news">
    <app-news class="news__item"
              img="assets/images/taichi/tai-chi-s_accorder-300x225.jpg"
              title="Symposium 12 Mars à partir de 13 Mars 2021">
      <p class="news__text">
        Comment peut-il transformer notre quotidien à une époque où nous sommes insidieusement
        malmenés (sédentarisme,
        pollution, dictature de l’esthétisme, de la performance...) ? Depuis 30 ans, l’association des Quatre Piliers
        participe à la pratique et à l’enseignement du Tai Chi, du Qi Gong et du Stretching Postural®. Notre approche
        est le fruit d’une recherche dans un juste équilibre entre le goût de l’effort et le respect des limites de
        chacun. Sensibilité, écoute, harmonie, équilibre, puissance et fluidité, conscience de soi en sont l’apanage !
        <br><a href="https://youtu.be/IECrIIzitVQ">La vidéo</a>.
        <br><a href="https://symposiumcorpsvivant.wordpress.com/">Le site du symposium</a>
      </p>
    </app-news>

    <app-news [left]="true"
              class="news__item"
              img="assets/images/taichi/cours-taichi-qigong-meditation.jpg"
              title="Confinement : Les cours de taichi sont suspendus jusqu'à nouvel ordre"
              type="yellow">
      <p class="news__text">
        Le confinement nous empêche de pratiquer ensemble. Il peut devenir aussi un formidable moment pour développer
        notre pratique personnelle.
        <br>Pour vous accompagner chaque semaine je vous propose des audios ou fiches. Nous nous
        appuyons sur ce qui a déjà été vu pendant les cours.
      </p>
    </app-news>
  </div>
</div>
