<p>home works!</p>
<app-img-band img="lien vers l'image" title="les cours"></app-img-band>
<br>
<app-multiple-img-band [images]="images"></app-multiple-img-band>

<app-img-band [type]="'eye-bonze'" [title]="'Actualité'"></app-img-band>

<div class="home__thumbails">
  <app-thumbnail class="home__thumbail" type="taichi" text="tai chi"></app-thumbnail>
  <app-thumbnail class="home__thumbail" type="massage" text="Massage-Bien-Etre"></app-thumbnail>
  <app-thumbnail class="home__thumbail" type="shiatsu" text="Shiatsu"></app-thumbnail>
  <app-thumbnail class="home__thumbail" type="entreprise" text="Et pour votre entrprise?"></app-thumbnail>
</div>
