@import "src/assets/styles/bases";

.thumbnail {
  -webkit-box-shadow: $border-shadow;
  box-shadow: $border-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8*$size-default;
  padding: $size-default;
  cursor: pointer;
  background-color: rgba($color-bg, 0.5);
  border-radius: $border-radius;

}

.thumbnail__bubble {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size-xlarge;
  height: $size-xlarge;
}

.thumbnail__icon {
  width: $size-xmedium;
  height: $size-xmedium;
  color: $color-default-primary;
}

.thumbnail__text {
  font-size: $txt-size-regular;
  font-weight: $txt-bold-default;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
}

.thumbnail--primary {

  &:hover {
    background-color: rgba($color-project-primary-very-light, 1);
  }

  .thumbnail__bubble {
    background-color: $color-project-primary;
  }

  .thumbnail__text {
    color: $color-project-primary-dark;
  }
}

.thumbnail--secondary {

  &:hover {
    background-color: rgba($color-project-secondary-very-light, 1);
  }

  .thumbnail__bubble {
    background-color: $color-project-secondary;
  }

  .thumbnail__text {
    color: $color-project-secondary-dark;
  }
}

.thumbnail--tertiary {

  &:hover {
    background-color: rgba($color-project-tertiary-very-light, 1);
  }

  .thumbnail__bubble {
    background-color: $color-project-tertiary;
  }

  .thumbnail__text {
    color: $color-project-tertiary-dark;
  }
}

.thumbnail--quaternary {

  &:hover {
    background-color: rgba($color-project-quaternary-very-light, 1);
  }

  .thumbnail__bubble {
    background-color: $color-project-quaternary;
  }

  .thumbnail__text {
    color: $color-project-quaternary-dark;
  }
}
