@import "src/assets/styles/bases";

.thumbnail {
  background-color: rgba($color-project-primary-light, 0.9);
  box-shadow: -10px 10px 5px -2px rgba($grey, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10*$size-default;
  padding: $size-default;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-project-primary-light, 1);
  }
}

.thumbnail__bubble {
  background-color: $color-project-tertiary-very-light;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size-xlarge + $size-default;
  height: $size-xlarge + $size-default;
}

.thumbnail__icon {
  color: $color-project-tertiary-dark;
  width: $size-large;
  height: $size-large;
}

.thumbnail__text {
  font-size: $txt-size-regular;
  color: $color-empty-very-light;
  font-weight: $txt-bold-default;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
}
