$dark: #2b2524;
$white: #ffffff;

$grey-dark: #30323d;
$grey: #4d5061;
$grey-light: #d5DFE8;
$grey-very-light: #eeeff0;

$sepia-black: #30020f;
$monarch: #7e0427;
$framboise: #ad0535;
$vanilla-ice: #f7e8ec;

$flush-orange: #5d3a0b;
$sea-buckthorn: #ff9f1c;
$sandy-brown: #ffc16e;
$buttermilk: #fff6ea;

$kashmir-blue: #274969;
$steel-blue: #6fb2b7;
$polo-blue: #9dc5bb;
$periwinkle: #e6fdff;
