$dark: #2b2524;
$white: #ffffff;

$grey-dark: #30323d;
$grey: #4d5061;
$grey-light: #cedfd3;
$grey-very-light: #eeeff0;

$sepia-black: #30020f;
$monarch: #7e0427;
$framboise: #ad0535;
$vanilla-ice: #f7e8ec;

$flush-orange: #9c6423;
$sea-buckthorn: #f49d37;
$sandy-brown: #f6ae5b;
$buttermilk: #fce4c8;

$kashmir-blue: #274969;
$steel-blue: #5c80bc;
$polo-blue: #97aed4;
$periwinkle: #d2dcec;
