<div class="footer">
  <div class="footer__inner">
    <div class="inner__column">
      <span class="inner__title">Contact</span>
      <div class="inner__content">
        <p>Marie-Laure Humeau</p>
        <p>9 rue de l’oisonnière</p>
        <p>72220 Laigné en Belin</p>
        <p>06.08.03.26.45</p>
        <p><a (click)="meContacter()" aria-label="Me contacter" class="none" title="Cliquer pour envoyer un mail">Me
          contacter</a></p>
      </div>
    </div>
    <div class="inner__column">
      <span class="inner__title">Cadre éthique</span>
      <p class="inner__content">
        Congruence - Présence - Ecoute active et sensible - Ouverture - Disponibilité - Confiance - Bienveillance
        et non jugement - Persévérance - Confidentialité - Respect des engagements - Respect du rythme de chacun -
        Je ne sais pas pour l'autre.
      </p>
    </div>
  </div>
  <div class="footer__credit">
    <div class="credit__humoe">
      Humoe© copyright - All right reserved.
    </div>
    <div class="credit__flaticon">
      <div>Icons made by
        <a class="none" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
        <a class="none" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>,
        <a class="none" href="https://www.flaticon.com/authors/pause08" title="Pause08">Pause08</a> and
        <a class="none" href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from
        <a class="none" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </div>
    </div>
  </div>
</div>
