@import "src/assets/styles/bases";

.footer {
  bottom: 0;
  color: $color-project-secondary-very-light;
  background-color: $color-project-primary-dark;
  padding: $size-xmedium $size-xlarge;
}

.footer__inner {
  display: flex;
  justify-content: space-around;
}

.inner__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.inner__title {
  text-transform: uppercase;
  font-weight: $txt-bold-default;
  color: $color-project-secondary-light;
}

.inner__content {
  max-width: 40%;
  line-height: 1.5;
  text-align: center;
}


.footer__credit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: $size-default;
}
a {
  text-decoration: underline;

  &:hover {
    color: $color-project-secondary-light;
  }
}
