@import "../bases";

.c-timeline {
  position: relative;
  max-width: $medium-desktop-window;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $size-small;
    margin-left: -$size-small;
    content: '';
  }
}

.c-timeline__item {
  position: relative;
  left: 0;
  width: 100%;
  padding: $size-small + $size-lower 5*$size-lower;
  background-color: inherit;

  &::after {
    position: absolute;
    z-index: 1;
    top: 2 * $size-default;
    left: -14px;
    width: $size-medium;
    height: $size-medium;
    border: 2px solid $color-empty-very-light;
    border-radius: 50%;
    content: '';
  }
}

.c-timeline__title {
  font-size: $txt-size-regular;
  font-weight: $txt-bold-default;
}

.c-timeline__text {
  margin: 0 0 0 $size-large;
}

.c-timeline__content {
  position: relative;
  padding: $size-default;
  background-color: $color-empty-very-light;
}

.c-timeline {
  &::after {
    background-color: $color-default-primary;
  }

  .c-timeline__title {
    color: $color-project-primary;
  }
}

.primary {
  &.c-timeline__item::after {
    background-color: $color-project-primary;
  }

  .c-timeline__title {
    color: $color-project-primary;
  }
}

.secondary {
  &.c-timeline__item::after {
    background-color: $color-project-secondary;
  }

  .c-timeline__title {
    color: $color-project-secondary-dark;
  }
}

.tertiary {
  &.c-timeline__item::after {
    background-color: $color-project-tertiary;
  }

  .c-timeline__title {
    color: $color-project-tertiary-dark;
  }
}

.quaternary {
  &.c-timeline__item::after {
    background-color: $color-project-quaternary;
  }

  .c-timeline__title {
    color: $color-project-quaternary-dark;
  }
}

.c-timeline__item--white {
  &::before {
    border-color: transparent $color-default-secondary transparent transparent;
  }

  .c-timeline__content {
    background-color: $color-default-secondary;
  }
}


