$size-null: 0rem;
$size-small: 0.25rem;
$size-lower: 0.5rem;
$size-default: 1rem;
$size-medium: 1.5rem;
$size-xmedium: 2rem;
$size-large: 3rem;
$size-xlarge: 3.5rem;


$size-header-mobile: $size-xmedium + $size-lower;
$size-header-desktop: $size-large + $size-medium;


$small-mobile-window: 670px;
$tablet-window: 768px;
$small-desktop-window: 1024px;
$medium-desktop-window: 1200px;
$large-desktop-window: 1504px;
