@import "src/assets/styles/bases";

.testimony {
  display: flex;
  padding: $size-xmedium;
  border-radius: $border-radius-default;
  box-shadow: 0 4px 6px rgba($color-default-primary, 0.16);

  &.testimony--small {
    height: 4 * $size-xmedium;
  }

  @media (min-width: $small-desktop-window) {
    height: 4 * $size-large;
  }
}

.testimony__icon {
  display: none;
  border-radius: 50%;
  width: 3 * $size-default;
  height: 3 * $size-default;
  margin-right: $size-xmedium;

  @media (min-width: $small-desktop-window) {
    display: block;
  }

  &.blue {
    background-color: $color-project-tertiary;
  }

  &.pink {
    background-color: $color-project-primary;
  }

  &.yellow {
    background-color: $color-project-secondary;
  }
}

.testimony__author {
  font-size: $txt-size-regular;
  font-weight: $txt-regular-medium;
  margin-bottom: $size-small;

  &.blue {
    color: $color-project-tertiary;
  }

  &.pink {
    color: $color-project-primary;
  }

  &.yellow {
    color: $color-project-secondary;
  }
}

.testimony__text {
  font-size: $txt-size-small;
  color: $color-empty;
  text-align: justify;
}
