@import "src/assets/styles/bases";

.sc-testimony {
  padding: $size-lower $size-default;
  border-radius: $border-radius-default;
  border-left: $size-lower solid $color-default-primary;
}

.sc-testimony--primary {
  border-left-color: $color-project-primary;
}

.sc-testimony--secondary {
  border-left-color: $color-project-secondary-dark;
}

.sc-testimony--tertiary {
  border-left-color: $color-project-tertiary-dark;
}

.sc-testimony--empty {
  border-left-color: $color-empty-dark;
}

.sc-testimony__header {
  display: flex;
  justify-content: space-between;
}

%sc-testimony__quote {
  width: $size-default;
  height: $size-default;
}

.sc-testimony__quote--primary {
  @extend %sc-testimony__quote;
  color: $color-project-primary-light;
}

.sc-testimony__quote--secondary {
  @extend %sc-testimony__quote;
  color: $color-project-secondary-light;
}

.sc-testimony__quote--tertiary {
  @extend %sc-testimony__quote;
  color: $color-project-tertiary-light;
}

.sc-testimony__quote--empty {
  @extend %sc-testimony__quote;
  color: $color-empty-light;
}

.sc-testimony__type {
  font-size: $txt-size-lower;
  color: $color-empty;
  text-transform: uppercase;
}

.sc-testimony__text {
  font-size: $txt-size-default;
  text-align: justify;
}

.sc-testimony__author {
  font-size: $txt-size-lower;
  text-transform: capitalize;
  font-style: italic;

  &::before {
    content: '–';
    font-weight: $txt-bold-default;
    color: $color-empty-light;
    margin-right: $size-lower;
  }
}
