<app-nav-bar [page]="page" xmlns="http://www.w3.org/1999/html"></app-nav-bar>
<div class="home-page">
  <app-carrousel [multiple]="true"></app-carrousel>
  <h2 class="sr-only">Présentation des activités</h2>
  <div class="home__thumbnails">
    <div class="thumbnails-container">
      <app-thumbnail class="thumbnails__item" text="tai chi" type="taichi">
      </app-thumbnail>
      <app-thumbnail
        class="thumbnails__item"
        text="Massage-Bien-Etre"
        type="massage"
      >
      </app-thumbnail>
      <app-thumbnail class="thumbnails__item" text="Shiatsu" type="shiatsu">
      </app-thumbnail>
      <app-thumbnail
        class="thumbnails__item"
        text="Qualité de vie au travail"
        type="entreprise"
      >
      </app-thumbnail>
    </div>
  </div>
  <div class="sc-activity-intro">
    <div
      (click)="redirectTo(taichiPage)"
      class="sc-activity-intro__column"
      title="Cliquer pour en savoir plus"
    >
      <h3 class="sc-activity-intro__title u-text--primary">Tai Chi Qi Gong</h3>
      <p class="sc-activity-intro__content">
        Le Tai Chi, le Qi Gong et la méditation développent notre souplesse,
        notre équilibre, notre coordination, notre respiration, notre
        enracinement... Ils favorisent l’équilibre du corps, de l’esprit et de
        l’énergie. Arts énergétiques ou simples activités de loisir, ils
        développent au fil du temps notre présence, notre rapport à nous, aux
        autres et au monde, un état d’esprit au quotidien. Cours proposés sur
        Laigné en Belin et le Mans
      </p>
      <button
        [routerLink]="taichiPage"
        class="sc-activity-intro__button sc-activity-intro__button--primary"
      >
        Découvrir les ateliers
      </button>
    </div>
    <div
      (click)="redirectTo(massagePage)"
      class="sc-activity-intro__column"
      title="Cliquer pour en savoir plus"
    >
      <h3 class="sc-activity-intro__title u-text--empty">Massages-Bien-Etre</h3>
      <p class="sc-activity-intro__content">
        Le massage bien-être est un accompagnement personnalisé, par le toucher,
        pour favoriser, entretenir et renforcer le bien-être au quotidien. Au
        fil du temps le massage développe la conscience et la globalité de notre
        corps. Cette conscience transforme, chacun à son rythme, dans son
        rapport à soi, aux autres et au monde. Séances sur Laigné en Belin
      </p>
      <button
        [routerLink]="massagePage"
        class="sc-activity-intro__button sc-activity-intro__button--empty"
      >
        Découvrir les séances
      </button>
    </div>
    <div
      (click)="redirectTo(shiatsuPage)"
      class="sc-activity-intro__column"
      title="Cliquer pour en savoir plus"
    >
      <h3 class="sc-activity-intro__title u-text--tertiary">Shiatsu</h3>
      <p class="sc-activity-intro__content">
        Le shiatsu est une pratique manuelle d'origine japonaise qui mobilise
        notre corps dans sa globalité. Selon Shizuto Masunaga, le shiatsu
        alterne des pressions, des étirements et empaumement au rythme de la
        respiration du receveur. Il participe au rééquilibrage du corps et de
        l'esprit, au renforcement ou au maintien de la santé. Il puise ses
        sources dans l'énergétique traditionnelle chinoise. Séances sur Laigné
        en Belin, proposées dans le cadre de ma 3ème année de formation
      </p>
      <button
        [routerLink]="shiatsuPage"
        class="sc-activity-intro__button sc-activity-intro__button--tertiary"
      >
        Découvrir les séances
      </button>
    </div>
    <div
      (click)="redirectTo(entreprisePage)"
      class="sc-activity-intro__column"
      title="Cliquer pour en savoir plus"
    >
      <h3 class="sc-activity-intro__title u-text--secondary">
        Qualité de vie au travail
      </h3>
      <p class="sc-activity-intro__content">
        Rendre son corps vivant et conscient, grâce au Tai Chi Qi Gong ou aux
        massages, développe un véritable point d'appui au quotidien. Ils
        développent les Soft Skills ou savoir-être dont nous parlons aujourd'hui
        : relation à soi, aux autres, souplesse, adaptabilité, travail en
        groupe, gestion du stress et bien d'autres... Sur place en entreprise à
        l'année ou ponctuellement
      </p>
      <button
        [routerLink]="entreprisePage"
        class="sc-activity-intro__button sc-activity-intro__button--secondary"
      >
        Découvrir les solutions
      </button>
    </div>
  </div>

  <div class="home__presentation">
    <h3 class="text-center">
      <strong class="u-text--tertiary"> Humoe </strong> -
      <strong class="u-text--tertiary"> HU</strong>manité
      <strong class="u-text--tertiary"> MO</strong>uvement
      <strong class="u-text--tertiary"> E</strong>quilibre
    </h3>
    <p>
      Une philosophie d’accompagnement vers le Bien Etre : Le Bien Etre, comme
      une recherche d’équilibre permanente. Cette recherche d’équilibre, en
      mouvement, est la vie … Elle est passionnante. Elle est accessible à tous.
      Elle nous transforme silencieusement, sans en avoir l’air, à notre rythme.
    </p>
  </div>
  <app-img-band [title]="'Actualités'" [type]="'ears-bonze'"></app-img-band>

  <div class="home__news">
    <app-news
      [left]="true"
      class="news__item"
      img="assets/images/taichi/laigné coq 2 300x223.png"
      title="Tai Chi/Qi Gong : Rentrée Janvier 2021 - Prolongement des cours liés au Covid-19"
      type="secondary"
    >
      Jusqu'à nouvel ordre, nous continuons les cours, aux heures habituelles
      par vidéo conférence. Des lieux différents, un même temporalité et une
      nouvelle façon de faire l'expérience d'être ensemble.
      <br/>
      Vous retrouverez sur la page Tai Chi Qi Gong les différents lieux où vous
      pourrez nous retrouver.<a class="button alt" routerLink="taichi"
    >Tai Chi Qi Gong</a
    >
    </app-news>
    <app-news
      [left]="true"
      class="news__item"
      img="assets/images/massage/massage-ayurvedique-dos-300x200.jpg"
      title="Massage Bien-Etre : Nouvelle année 2021 je continue à vous accueillir"
      type="tertiary"
    >
      Ces derniers temps, le toucher est un des sens que nous avons le plus
      oublié. En énergétique traditionnelle chinoise la peau est associée aux
      poumons et à la respiration. Nous avons bien besoin de les renforcer.<br/>
      <a class="button alt" routerLink="massage">Massages</a> <br/>Je mets en
      œuvre toutes les conditions pour pouvoir vous accueillir au mieux, dans le
      respect des règles liées au covid-19. Nous en conviendrons à la prise de
      notre rendez-vous.
    </app-news>
    <app-news
      [left]="true"
      class="news__item"
      img="assets/images/taichi/livre-corps-vivant-corps-conscient.jpg"
      title="Livre corps vivant corps conscient Edition Almora disponible en librairie"
      type="tertiary"
    >
      Quatre enseignants en Tai Chi, Qi Gong et Stretching Postural, de plus de
      40 ans d’expérience, mais aussi des médecins, thérapeutes, éducateurs et
      artistes, témoignent de leur pratique et des bienfaits qu’ils en ont
      retirés. … )
    </app-news>
  </div>

  <app-img-band
    [title]="'Avis et témoignages'"
    img="assets/images/caroussel/mieux-vivre_1920x448.png"
  ></app-img-band>
  <div class="sc-home__testimony">
    <ngb-carousel
      class="sc-home__testimony__carousel sc-home__testimony__carousel--first"
    >
      <ng-template *ngFor="let avis of taichiAvis" ngbSlide>
        <app-testimony [author]="avis.author" type="tai chi">
          {{ avis.text }}
        </app-testimony>
      </ng-template>
    </ngb-carousel>
    <ngb-carousel class="sc-home__testimony__carousel">
      <ng-template *ngFor="let avis of massageAvis" ngbSlide>
        <app-testimony [author]="avis.author" type="massage">
          {{ avis.text }}
        </app-testimony>
      </ng-template>
    </ngb-carousel>
  </div>
  <app-img-band
    [title]="'A propos de moi'"
    img="assets/images/caroussel/mieux-vivre_1920x448.png"
  ></app-img-band>
  <div class="home__about">
    <div class="c-presentation">
      <div class="c-presentation--row">
        <img
          alt="Pratique du tai chi en extérieur à Noirmoutier"
          class="c-presentation__image mr-4"
          src="assets/images/taichi/noirmoutier-guitare-300x206.png"
        />
        <div>
          <p class="c-presentation__text pt-0">
            <strong class="u-text--tertiary">
              Je pratique le Tai Chi, le Qi Gong et la méditation depuis plus de
              15 ans.
            </strong>
            <br/>
            Je transmets avec plaisir cet art millénaire, attentive au confort
            de chacun, sans recherche de performance, sur Laigné en Belin et Le
            Mans. La pratique est ouverte à tous, quel que soit son âge ou sa
            condition physique. <br/>Je propose les massages bien-être depuis
            plus de 10 ans et transmets avec plaisir cette conscience du corps
            vivant par un toucher bienveillant. <br/>Je propose le shiatsu dans
            le cadre de ma formation pour devenir spécialiste en shiatsu.
            Actuellement en 3ème et dernière année. <br/>Quel que soit la
            pratique, chacun est accueilli avec autant de bienveillance, qu'il
            vienne pour découvrir ces arts corporels, pour améliorer sa qualité
            de vie, pour se déstresser, par recommandation d'un thérapeute ou
            pour faire du lien avec sa pratique professionnelle.
          </p>
          <button *ngIf="!prod" class="c-home__about__button">
            En savoir plus
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!prod">
      <h3 class="c-presentation__title c-presentation__title--tertiary mt-5">
        SUITE SUR PAGE A PROPOS DE MOI :Accompagner la conscience corporelle
        tant sur le plan physique qu'énergétique est, comme le Tai Chi, tout un
        art.
      </h3>
      <p class="c-presentation__text">
        Je pratique le Tai Chi, le Qi Gong et la méditation depuis plus de 15
        ans. J'accompagne également par le massage et je transmets avec plaisir
        cette conscience du corps vivant par un toucher bienveillant. Le shiatsu
        vient enrichir cet accompagnement dans une démarche d'équilibre et de
        santé globale.<br/>
        Développer la conscience de son corps, de soi, est particulièrement
        enrichissant. Elle devient, au fil du temps, un point d'appui et une
        force intérieure. Elle transforme, le rapport à soi, aux autres et au
        monde, au rythme de chacun.
      </p>
      <p class="c-presentation__text">
        Le Tai Chi m'est devenu un art de vie. Elle est un chemin. J'aime le
        transmettre parce que chacun peut se mettre en mouvement d'où qu'il
        parte, à son rythme. Le Tai Chi se nourrit aussi des techniques de Chi,
        que l'on transmet pas à pas au fil des exercices. Je sens de plus en
        plus la vie que les deux amènent dans mon corps et autour de moi. La
        sensibilité qu’ils développent, l’étincelle qu’ils allument.
      </p>
      <p class="c-presentation__text">
        J’aime transmettre, faire découvrir les mouvements, les techniques de
        Chi, puis laisser découvrir ce qui se délie dans chacun de nos corps.
        Plus souple, plus sensible, plus vivant, plus conscient du Chi.
      </p>
      <img
        alt="Pratique du tai chi en intérieur"
        class="c-presentation__image mr-4"
        src="assets/images/taichi/tai-chi-interieur-plcn-300x168.png "
      />
      <p class="c-presentation__text">
        Les massages et petit à petit le shiatsu participent aussi à cette
        transmission. Un corps vivant, un corps conscient s’est une véritable
        ouverture et aussi une véritable éducation. Chacun va à son rythme.
      </p>
      <p class="c=presentation_text">
        Le Tai Chi, le massage, le shiatsu sont des guides. On y découvre le
        Chi, sans partir dans tous les sens. L’ancrage y est pour beaucoup. Il
        est une balise indéniable pour le faire étinceler.
        <br/>Ils sont des « outils » que j’ai choisi de partager. Ils
        développent une force qui donne envie de vivre avec soi, les autres et
        le monde. <br/>Comme le Tai Chi le massage peut être un simple
        rendez-vous ou un processus vers un corps vivant et conscient. Chacun
        choisit.
      </p>
      <p>
        Mon accompagnement est nourri de ces 20 dernières années ; le
        cheminement du Tai Chi, mes six années de formation en thérapie
        manuelle, mes quatre années à l’université. Dans ce cadre, j’ai pu eu
        fil de mes travaux de recherches, prendre le temps d’un regard réflexif
        sur les transformations silencieuses du Tai Chi. J’ai pu aussi
        développer des outils pour favoriser l’ancrage de ces transformations au
        rythme de chacun.
        <br/>>Un corps vivant et conscient est un formidable point d’appui !
        C’est un apprentissage très enrichissant.
      </p>
      <p class="mt-3">
        Aujourd'hui accompagner est devenu :<br/>Transmettre la richesse de la
        <strong>conscience corporelle interne</strong>. Transmettre l’<strong
      >équilibre corps, esprit, énergie</strong
      >. Transmettre les mouvements de <strong>Tai Chi</strong>, l’<strong>
        assouplissementdu corps et de l’esprit</strong
      >. Respecter le rythme de chacun. Faire vivre la confiance comme une
        relation. Faire émerger les ressources et savoirs passés inaperçus.
        Favoriser la prise de conscience de l’expérience, l’autonomie, la
        cohésion du groupe…
        <br/>
        «<em
      >La conscience corporelle favorise l’harmonie elle est accessible à
        tous</em
      >» M. Csikszentmihaly
        <br/>
        <br/><br/>Au plaisir de vous rencontrer
      </p>
      <div class="about__timeline">
        <h3
          class="c-presentation__title c-presentation__title--tertiary mt-5 text-uppercase"
        >
          Mon cursus de formations :
        </h3>
        <div class="c-timeline tertiary my-5">
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2018 - 2021</p>
              <p class="c-timeline__text">
                Formation pour devenir spécialiste en shiatsu, titre RNCP
              </p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2013 - 2015</p>
              <p class="c-timeline__text">
                Master IFAC (ingénierie et fonctions d'accompagnement en
                formation) <br/>
                Mémoire : Pratique corporelle interne et autoformation
                existentielle, Etude d’un accompagnement réflexif de pratiquants
                de Tai Ji Quan <br/>
                Sujet : Apprentissage d’une capacité à agir sur soi, en lien
                avec les autres transférable dans la vie professionnelle comme
                personnelle
              </p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2011 - 2013</p>
              <p class="c-timeline__text">
                DUHEPS (Diplôme universitaire de hautes études en pratiques
                sociales)<br/>
                Mémoire : D’une pratique de loisir à une formation
                expérientielle, Les transformations silencieuses du Tai Ji
                Quan<br/>
                Sujet : Transformations silencieuses liées à la pratique du Tai
                Chi et coloration du quotidien
              </p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2011</p>
              <p class="c-timeline__text">CQP Animateur de loisir sportif</p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2009</p>
              <p class="c-timeline__text">Massages ayurvédique et stimulant</p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2003 - 2009</p>
              <p class="c-timeline__text">Thérapie manuelle énergétique</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
