@import "src/assets/styles/bases";

.home-page {
  background-color: $color-empty-very-light;
  display: flex;
  flex-direction: column;
}

.home__thumbnails {
  display: none;
  justify-content: center;
  height: 5*$size-xmedium;
  margin-top: -$size-xmedium;

  @media (min-width: $small-desktop-window) {
    display: flex;
  }

  .thumbnails-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    position: absolute;
  }

  .thumbnails__item {
    width: 20%;
  }

}

.home__presentation {
  background-color: $color-project-tertiary-very-light;
  align-self: center;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 6px rgba($color-default-primary, 0.16);
  padding: $size-medium $size-xmedium;
  margin: 5*$size-default 0;

  .presentation__title {
    color: $color-project-tertiary-dark;
    font-size: $txt-size-regular;
    font-weight: $txt-bold-default;
    align-self: center;
  }

  .presentation__text {
    font-size: $txt-size-default;
    color: $color-empty;
    margin-top: $size-medium;
  }
}

.home__news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: $txt-size-default;

  @media (min-width: $tablet-window) {
    justify-content: space-around;
  }

  @media (min-width: $medium-desktop-window) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .news__item {
    margin-bottom: $size-xmedium;
    width: 80%;

    @media (min-width: $tablet-window) {
      width: 45%;
    }

    @media (min-width: $medium-desktop-window) {
      width: 100%;
    }
  }
}

.home__about {
  background-color: $color-default-secondary;
  display: flex;
  justify-content: center;
}

.about__timeline {
  background-color: $color-empty-very-light;
  padding: $size-default $size-large;
  margin: $size-large 0;
}
