<app-nav-bar [page]="page" xmlns="http://www.w3.org/1999/html"></app-nav-bar>
<div class="home-page">
  <app-carrousel [multiple]="true"></app-carrousel>
  <div class="home__thumbnails">
    <div class="thumbnails-container">
      <app-thumbnail
        class="thumbnails__item"
        text="tai chi"
        type="taichi"
      ></app-thumbnail>
      <app-thumbnail
        class="thumbnails__item"
        text="Massage-Bien-Etre"
        type="massage"
      ></app-thumbnail>
      <app-thumbnail
        class="thumbnails__item"
        text="Shiatsu"
        type="shiatsu"
      ></app-thumbnail>
      <app-thumbnail
        class="thumbnails__item"
        text="Qualité de vie au travail"
        type="entreprise"
      ></app-thumbnail>
    </div>
  </div>
  <p>
    Tai Chi Qi Gong<br/>Le Tai Chi, le Qi Gong et la méditation développent notre souplesse, notre équilibre, notre coordination, notre respiration, notre enracinement... Ils favorisent l’équilibre du corps, de l’esprit et de l’énergie. Arts énergétiques ou simples activités de loisir, ils développent au fil du temps notre présence, notre rapport à nous, aux autres et au monde, un état d’esprit au quotidien.
    Cours proposés sur Laigné en Belin et le Mans   en savoir +
  </p>
  <p>
    Massages Bien Etre<br/>Le massage bien-être est un accompagnement personnalisé, par le toucher, pour favoriser, entretenir et renforcer le bien-être au quotidien. Au fil du temps le massage développe la conscience et la globalité de notre corps. Cette conscience transforme, chacun à son rythme, dans son rapport à soi, aux autres et au monde.
    Séances sur Laigné en Belin   en savoir +
  </p>
  <p>
    Shiatsu<br/>Le shiatsu est une pratique manuelle d'origine japonaise qui mobilise notre corps dans sa globalité. Selon Shizuto Masunaga, le shiatsu alterne des pressions, des étirements et empaumement au rythme de la respiration du receveur. Il participe au rééquilibrage du corps et de l'esprit, au renforcement ou au maintien de la santé. Il puise ses sources dans l'énergétique traditionnelle chinoise.
    Séances sur Laigné en Belin, proposées dans le cadre de ma 3ème année de formation    en savoir +
  </p>
  <p>
    Qualité de vie au travail<br/>Rendre son corps vivant et conscient, grâce au Tai Chi Qi Gong ou aux massages, développe un véritable point d'appui au quotidien. Ils développent les Soft Skills ou savoir-être dont nous parlons aujourd'hui : relation à soi, aux autres, souplesse, adaptabilité, travail en groupe, gestion du stress et bien d'autres...
    Sur place en entreprise à l'année ou ponctuellement   en savoir +
  </p>
  <div class="home__presentation">
    <p>
      Une philosophie d’accompagnement vers le Bien Etre : Le Bien Etre, comme une recherche d’équilibre permanente. Cette recherche d’équilibre, en mouvement, est la vie … Elle est passionnante. Elle est accessible à tous. Elle nous transforme silencieusement, sans en avoir l’air, à notre rythme.
    </p>
  </div>
  <app-img-band [title]="'Actualités'" [type]="'ears-bonze'"></app-img-band>

  <div class="home__news">
    <app-news
      [left]="true"
      class="news__item"
      img="assets/images/taichi/laigné coq 2 300x223.jpg"
      title="Tai Chi/Qi Gong : Adaptation et prolongement des cours liés au Covid-19"
      type="secondary"
    >
      Tout le temps du confinement, nous continuons les cours, aux heures
      habituelles par vidéo conférence. Des lieux différents, un même
      temporalité et une nouvelle façon de faire l'expérience d'être ensemble.
      <br/>
      Vous retrouverez sur la page Tai Chi Qi Gong les différents lieux où vous
      pourrez nous retrouver.<a class="button alt" routerLink="taichi"
    >Tai Chi Qi Gong</a
    >
    </app-news>
    <app-news
      [left]="true"
      class="news__item"
      img="assets/images/massage/massage-ayurvedique-dos-300x200.jpg"
      title="Massage Bien-Etre : un cadeau pour retrouver le sens du toucher"
      type="tertiary"
    >
      Le massage est un moment de détente, il peut s'inscrire dans une démarche
      de prévention et de santé. La détente permet d'effacer les effets du
      stress, se recharger ... Ces derniers temps, le toucher est un des sens
      que nous avons le plus oublié. En énergétique traditionnelle chinoise la
      peau est associée aux poumons et à la respiration. Nous avons bien besoin
      de les renforcer.<br/>
      Profitons de Noël pour partager le massage, il est plus que jamais
      approprié! Je vous laisse offrir le massage de votre choix sur la page
      <a class="button alt" routerLink="massage">Massages</a> <br/>Je mets en
      œuvre toutes les conditions pour pouvoir vous accueillir au mieux, dans le
      respect des règles liées au covid-19. Nous en conviendrons à la prise de
      notre rendez-vous.
    </app-news>
    <app-news
      class="news__item"
      img="assets/images/taichi/tai-chi-s_accorder-300x225.jpg"
      title="Symposium le 12 Mars à partir de 19h et le 13 Mars 2021"
    >
      <h4>
        Corps Vivant Corps Conscient, des arts énergétiques à la vie
        quotidienne.
      </h4>
      Des ateliers et des conférences au choix tout au long du symposium.
      <br/>Comment notre corps peut transformer notre quotidien à une époque où
      nous sommes insidieusement malmenés (sédentarisme, pollution, dictature de
      l’esthétisme, de la performance...) ? Depuis 30 ans, l’association des
      Quatre Piliers participe à la pratique et à l’enseignement du Tai Chi, du
      Qi Gong et du Stretching Postural®. Notre approche est le fruit d’une
      recherche dans un juste équilibre entre le goût de l’effort et le respect
      des limites de chacun. Sensibilité, écoute, harmonie, équilibre, puissance
      et fluidité, conscience de soi en sont l’apanage ! <br/>Retrouver
      <a href="https://youtu.be/IECrIIzitVQ">La vidéo</a> et
      <a href="https://symposiumcorpsvivant.wordpress.com/"
      >Le site du symposium</a
      >
    </app-news>
    <app-news
      [left]="true"
      class="news__item"
      img="assets/images/taichi/livre-corps-vivant-corps-conscient.jpg"
      title="Livre corps vivant corps conscient Edition Almora Février 2020"
      type="tertiary"
    >
      Quatre enseignants en Tai Chi, Qi Gong et Stretching Postural, de plus de
      40 ans d’expérience, mais aussi des médecins, thérapeutes, éducateurs et
      artistes, témoignent de leur pratique et des bienfaits qu’ils en ont
      retirés. … )
    </app-news>
  </div>
  <app-img-band
    [title]="'A propos de moi'"
    img="assets/images/taichi/mieux-vivre.jpg"
  ></app-img-band>
  <div class="home__about">
    <div class="c-presentation c-presentation--lg">
      <p>
      Je pratique le Tai Chi, le Qi Gong et la méditation depuis plus de 15 ans. Je transmets avec plaisir cet art millénaire, attentive au confort de chacun, sans recherche de performance, sur Laigné en Belin et Le Mans. La pratique est ouverte à tous, quel que soit son âge ou sa condition physique.
      Je propose les massages bien-être depuis plus de 10 ans et transmets avec plaisir cette conscience du corps vivant par un toucher bienveillant.
      Je propose le shiatsu dans le cadre de ma formation pour devenir spécialiste en shiatsu. Actuellement en 3ème et dernière année.
      Quel que soit la pratique, chacun est accueilli avec autant de bienveillance, qu'il vienne pour découvrir ces arts corporels, pour améliorer sa qualité de vie, pour se déstresser, par recommandation d'un thérapeute ou pour faire du lien avec sa pratique professionnelle.
      en savoir +
    </p>
      <h3 class="c-presentation__title c-presentation__title--tertiary mt-5">
        SUITE SUR PAGE A PROPOS DE MOI :Accompagner la conscience corporelle tant sur le plan physique
        qu'énergétique est, comme le Tai Chi, tout un art.
      </h3>
      <p class="c-presentation__text">
        Développer la conscience de son corps, de soi, est particulièrement
        enrichissant et je suis fière du chemin parcouru.. J'en fais l'expérience depuis plus de 15 ans. Pas pour "briller ou
        casser mon adversaire" mais pour la vie qu'il a développée. La
        conscience du corps devient, au fil du temps, point d'appui et force
        intérieure, au quotidien. Elle transforme, le rapport à soi, aux autres
        et au monde, chacun à son rythme.
      </p>
      <p class="c-presentation__text">
        Le Tai Chi est une pratique enrichissante, elle m'est devenue un art de
        vie. Elle est un chemin. J'aime le transmettre parce que chacun peut se
        mettre en mouvement d'où qu'il parte, à son rythme.<br/>Le Tai Chi se
        nourrit aussi des techniques de Chi, que l'on transmet pas à pas au fil
        des exercices que l'on répète inlassablement. Je sens de plus en plus la
        vie que les 2 amènent dans mon corps et autour de moi. La sensibilité
        qu’ils développent, l’étincelle qu’ils allument.
      </p>
      <p class="c-presentation__text">
        J'ai commencé le Tai Chi "par hazard". Aujourd’hui j’aime transmettre, faire découvrir les mouvements,
        les techniques de Chi, puis laisser découvrir ce qui se délie dans
        chacun de nos corps. Plus souple, plus sensible, plus vivant, plus
        conscient du Chi ; peut-être déjà là mais un peu moins présent…
      </p>
      <p class="c-presentation__text">
        Les massages et petit à petit le shiatsu participent aussi à cette
        transmission. Un corps vivant, un corps conscient et plein de vie.<br/>Un
        corps vivant, un corps conscient s’est une véritable ouverture et aussi
        une véritable éducation. Chacun va à son rythme.
      </p>
      <p class="c=presentation_text">
        Le Tai Chi, le massage, le shiatsu sont des guides. On y découvre le Chi, sans partir dans tous les sens.
        L’ancrage y est pour beaucoup. Il est une balise indéniable pour le faire étinceler.
        <br/>Ils sont des « outils » que j’ai choisi de partager. Ils développent une force, pas celle qui sert à casser
        son voisin mais celle qui donne envie de vivre avec soi, les autres et le monde.
        <br/>Comme le Tai Chi le massage peut être un simple rendez-vous ou un processus vers un corps vivant et
        conscient. Chacun choisit.
      </p>
      <p class="c=presentation_text">
        Le shiatsu prend à son tour de plus en plus de place dans mon accompagnement; aujourd'hui auprès des volontaires
        qui participent aussi à ma formation. Le chemin est très enrichissant. Ce qui me plait/motive le plus à faire
        émerger, tout en le découvrant, c’est sa faculté à stimuler la propre source de guérison de chacun ; mais aussi
        la relation donneur receveur à chaque séance. J’arrive au début de ma 3ème année de formation, dans un contexte
        un peu particulier mais plus que jamais motivée.
      </p>
      <p>
        Mon accompagnement est nourri de ces 20 dernières années ; le cheminement du Tai Chi, mes six années de
        formation en thérapie manuelle, mes quatre années à l’université. Dans ce cadre, j’ai pu eu fil de mes deux
        recherches, prendre le temps d’un regard réflexif sur les transformations silencieuses du Tai Chi. J’ai pu aussi
        développer des outils pour favoriser l’ancrage de ces transformations au rythme de chacun.
        <br/>La vie n’est pas un long fleuve tranquille mais un corps vivant et conscient est un formidable point
        d’appui ! c’est une école très enrichissante.
      </p>
      <p class="mt-3">
        Aujourd'hui accompagner est devenu :<br/><strong> Transmettre</strong>
        la richesse de la <strong>conscience corporelle interne</strong>.
        Transmettre l’<strong>équilibre corps, esprit, énergie</strong>.
        Transmettre les mouvements de <strong>Tai Chi</strong>, l’<strong>assouplissement</strong> du corps et de
        l’esprit,
        <br/>
        <strong>Respecter</strong> le rythme de chacun. Etre en alternance
        guide, soutien, à côté, derrière. Faire vivre la confiance comme une
        relation.
        <br/>
        Partager la phrase de M. Csikszentmihaly «<strong>La conscience corporelle favorise l’harmonie elle est
        accessible à
        tous </strong>»
        <br/>
        Faire émerger les ressources et savoirs passés inaperçus. Favoriser la
        prise de conscience de l’expérience, l’autonomie, la cohésion du groupe…
      </p>
      <p>Au plaisir de vous rencontre
      </p>
      <div class="about__timeline">
        <h3 class="c-presentation__title c-presentation__title--tertiary mt-5 text-uppercase">
          Mon cursus de formations :
        </h3>
        <div class="c-timeline tertiary my-5">
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2018 - 2021</p>
              <p class="c-timeline__text">
                Formation pour devenir spécialiste en shiatsu, titre RNCP
              </p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2013 - 2015</p>
              <p class="c-timeline__text">
                Master IFAC (ingénierie et fonctions d'accompagnement en
                formation) <br/>
                Mémoire : Pratique corporelle interne et autoformation
                existentielle, Etude d’un accompagnement réflexif de pratiquants
                de Tai Ji Quan <br/>
                Sujet : Apprentissage d’une capacité à agir sur soi, en lien
                avec les autres transférable dans la vie professionnelle comme
                personnelle
              </p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2011 - 2013</p>
              <p class="c-timeline__text">
                DUHEPS (Diplôme universitaire de hautes études en pratiques
                sociales)<br/>
                Mémoire : D’une pratique de loisir à une formation
                expérientielle, Les transformations silencieuses du Tai Ji
                Quan<br/>
                Sujet : Transformations silencieuses et coloration du quotidien
              </p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2011</p>
              <p class="c-timeline__text">CQP Animateur de loisir sportif</p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2009</p>
              <p class="c-timeline__text">Massages ayurvédique et stimulant</p>
            </div>
          </div>
          <div class="c-timeline__item c-timeline__item--white">
            <div class="c-timeline__content">
              <p class="c-timeline__title">2003 - 2009</p>
              <p class="c-timeline__text">Thérapie manuelle énergétique</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
