<div [ngClass]="{'news--reverse': left}" class="news">
  <img [ngClass]="type" alt="{{imageLabel}}" class="news__img" src="{{img}}">
  <div [ngClass]="type" class="news__content">
    <h3 class="news__title">{{title}}</h3>
    <p class="news__text">
      <ng-content></ng-content>
    </p>
    <button *ngIf="buttonLabel && !isExterneRedirect"
            [routerLink]="redirect"
            aria-label="buttonLabel"
            class="news__button">
      {{buttonLabel}}
    </button>
    <button (click)="openLink()"
            *ngIf="buttonLabel && isExterneRedirect"
            aria-label="buttonLabel"
            class="news__button">
      {{buttonLabel}}
    </button>
  </div>
</div>
