@import "src/assets/styles/bases";

:host {
  display: flex;
  flex-direction: column;
  background-color: $color-default-secondary;
  box-shadow: $border-shadow;
  border-radius: $border-radius;
  width: 100%;
}

.news__img {
  border-radius: $border-radius $border-radius 0 0;
  border-top: $size-default solid $color-project-primary;
  width: 100%;

  &.secondary {
    border-top: $size-default solid $color-project-secondary;
  }

  &.tertiary {
    border-top: $size-default solid $color-project-tertiary;
  }

  &.quaternary {
    border-top: $size-default solid $color-project-quaternary;
  }

  &.grey {
    border-top: $size-default solid $color-empty;
  }
}

.news__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: $size-default;
}

.news__title {
  font-size: $txt-size-big;
  font-weight: $txt-bold-default;
  color: $color-project-primary-dark;
}

.secondary {
  .news__title {
    color: $color-project-secondary-dark;
  }

  .news__button {
    background-color: $color-project-secondary-very-light;
    color: $color-default-primary;

    &:hover {
      background-color: $color-project-secondary-light;
    }
  }
}

.tertiary {
  .news__title {
    color: $color-project-tertiary-dark;
  }

  .news__button {
    background-color: $color-project-tertiary-very-light;
    color: $color-default-primary;

    &:hover {
      background-color: $color-project-tertiary-light;
      color: $color-empty-dark;
    }
  }
}

.quaternary {
  .news__title {
    color: $color-project-quaternary-dark;
  }

  .news__button {
    background-color: $color-project-quaternary-very-light;
    color: $color-default-primary;

    &:hover {
      background-color: $color-project-quaternary-light;
      color: $color-empty-dark;
    }
  }
}

.grey {
  .news__title {
    color: $color-empty;
  }

  .news__button {
    background-color: $color-empty-dark;
    color: $color-empty-very-light;

    &:hover {
      background-color: $color-empty;
    }
  }
}

.news__text {
  color: $color-empty;
  font-size: $txt-size-default;
  text-align: left;
}

.news__button {
  background-color: $color-project-primary-very-light;
  color: $color-default-primary;
  font-size: $txt-size-default;

  border-radius: $border-radius;
  height: $size-xlarge;

  &:hover {
    background-color: $color-project-primary-light;
  }
}
