<app-nav-bar [page]="page"></app-nav-bar>
<div class="shiatsu-page">
    <app-carousel [multiple]="false" type="shiatsu"></app-carousel>
    <div class="shiatsu__content">
        <p class="content__text--red">Le shiatsu (littéralement pression digitale) est une pratique manuelle d’origine japonaise qui mobilise le corps dans sa globalité. Elle puise ses sources dans les bases de l’énergétique traditionnelle chinoise.</p>
        
        <div class="content__row">
            <img alt="Shiatsu présentation."
            class="img-certification-taichi"
            src="assets/images/shiatsu/IMG_4729.png">
            <p class="content__row__text">Le shiatsu consiste en l’application de pressions rythmées sur tout le corps, dans un but de rééquilibrage corporel et d’amélioration ou de maintien de la santé. Il associe des étirements, pressions sur les trajets des méridiens, des muscles et des articulations. Il est un formidable processus d’accompagnement à la santé, et plus globalement de bien-être et de mieux être. Il libère les tensions pour retrouver une meilleure circulation de l’énergie vitale, le Chi.
                <br/>
                Le shiatsu est un processus holistique d’accompagnement et de prise en charge des troubles physiques et psycho-émotionnels. Il a comme finalité une recherche d’équilibre de l’organisme en agissant sur les différents tissus par des pressions, empaumements et étirements ciblés et adaptés à l’état de la personne.</p>
        </div>
        <p class="content__text">Le shiatsu se reçoit habillé dans des vêtements confortables (au besoin prévoyez des chaussettes), le plus souvent il se pratique au sol sur futon. Au fil de son accompagnement le spécialiste en shiatsu s’adapte aux besoins et aux attentes du demandeur.</p>
        <p class="content__text">Le shiatsu est reconnu officiellement par l’état français et le Ministre du Travail (JO du 25/07/2015) comme profession, et seul le SPS (Syndicat Professionnel de Shiatsu) est actuellement habilité à délivrer un titre professionnel de « Spécialiste en Shiatsu » reconnu par l’état.</p>

        <div class="content__img-band">
            <img alt="Shiatsu de la main."
            src="assets/images/shiatsu/IMG_4727.png">
            <img alt="Shiatsu du pied."
            src="assets/images/shiatsu/IMG_4714.png">
            <img alt="Shiatsu du dos."
            src="assets/images/shiatsu/IMG_4734.png">
        </div>

        <p class="content__text">Je souhaite aujourd’hui, renforcer la dimension prévention et accompagnement à la santé avec le shiatsu. Depuis septembre 2018 j’ai commencé une formation pour devenir spécialiste en shiatsu à l’issue des 3 années. Dans le cadre de ma formation j’accueille les volontaires. Je peux aussi me déplacer en entreprise dans le cadre d’un stage.</p>
        <img alt="Shiatsu général."
        class="content__img"
        src="assets/images/shiatsu/IMG_4659.png">
    </div>
</div>

