@import "src/assets/styles/bases";

.shiatsu-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .shiatsu__content{
      width: 60%;
      margin: $size-large 0;
  }

  .content__row{
    display: flex;
  }

  .content__row__text{
    margin: 0 $size-large;
  }

  .content__text{
    margin: $size-medium 0;
  }

  .content__text--red{
    @extend .content__text;
    color: $color-project-primary;
    font-weight: $txt-bold-default;
  }

  .content__img-band{
    display: flex;
    justify-content: center;
  }