@import '../bases.scss';

.u-text--primary-dark {
  color: $color-project-primary-dark !important;
}
.u-text--primary {
  color: $color-project-primary !important;
}

.u-text--secondary {
  color: $color-project-secondary-dark !important;
}

.u-text--tertiary {
  color: $color-project-tertiary-dark !important;
}

.u-text--quaternary {
  color: $color-project-quaternary-dark !important;
}

.u-text--empty {
  color: $color-empty-dark !important;
}
