<div class="nav-bar">
  <div (click)="showHideMenu()" class="nav-bar__menu">
    Menu
  </div>
  <div class="nav-bar__website-info">
    <div class="website-info__logo"></div>
    <span class="website-info__title">Marie-Laure HUMEAU </span>
  </div>
  <div (clickOutside)="hideMenu()"
       [excludeClasses]="['nav-bar__menu']"
       [ngClass]="{'nav-bar__items--mobile': displayMobileMenu}"
       appClickOutside
       class="nav-bar__items">
    <div [ngClass]="{'active': page === homePage}"
         class="item">
      <a (click)="hideMenu()"
         class="item__title none"
         routerLink="{{homePage}}">Accueil</a>
    </div>
    <div [ngClass]="{'active': page === taichiPage}"
         class="item">
      <a (click)="hideMenu()"
         class="item__title none"
         routerLink="{{taichiPage}}">Tai Chi</a>
      <div class="item__list">
        <a [queryParams]="{anchor: 'explication'}" class="none" routerLink="{{taichiPage}}">Présentation</a>
        <a [queryParams]="{anchor: 'cours'}" class="none" routerLink="{{taichiPage}}">Les cours</a>
        <a [queryParams]="{anchor: 'articles'}" class="none" routerLink="{{taichiPage}}">Articles parus</a>
        <a [queryParams]="{anchor: 'stage'}" class="none" routerLink="{{taichiPage}}">Stages et ateliers</a>
      </div>
    </div>
    <div [ngClass]="{'active': page === massagePage}"
         class="item">
      <a (click)="hideMenu()"
         class="item__title none"
         routerLink="{{massagePage}}">Massages-Bien-Etre</a>
      <div class="item__list">
        <a [queryParams]="{anchor: 'ayurvedique'}" class="none" routerLink="{{massagePage}}">Tradition ayurvédique</a>
        <a [queryParams]="{anchor: 'energetique'}" class="none" routerLink="{{massagePage}}">Relaxation énergétique</a>
        <a [queryParams]="{anchor: 'drainante'}" class="none" routerLink="{{massagePage}}">Relaxation drainante</a>
        <a [queryParams]="{anchor: 'tailandais'}" class="none" routerLink="{{massagePage}}">Nuad-bo-rarn</a>
        <a [queryParams]="{anchor: 'minute'}" class="none" routerLink="{{massagePage}}">Massage minutes</a>
        <a [queryParams]="{anchor: 'temoignage'}" class="none" routerLink="{{massagePage}}">Témoignages</a>
      </div>
    </div>
    <div [ngClass]="{'active': page === shiatsuPage}"
         class="item">
      <a (click)="hideMenu()"
         class="item__title none"
         routerLink="{{shiatsuPage}}">Shiatsu</a>
    </div>
    <div [ngClass]="{'active': page === entreprisePage}"
         class="item">
      <a (click)="hideMenu()"
         class="item__title none"
         routerLink="{{entreprisePage}}">Entreprise</a>
    </div>
  </div>
</div>
