<div class="article">
  <h3 [ngClass]="color" class="article__title">{{title}}</h3>
  <div class="article__content">
    <div class="content__image">
      <img alt="{{title}}" src="{{src}}">
    </div>
    <div class="content__text">
      <ng-content></ng-content>
      <div *ngIf="duree || tarif" class="content__row">
        <p *ngIf="duree">
          <strong>Durée : </strong> {{duree}}
        </p>
        <p *ngIf="tarif" class="ml-3">
          <strong>Tarif : </strong> {{tarif}}
        </p>
      </div>
      <div *ngIf="bienfaits">
        <strong>Bienfaits : </strong> {{bienfaits}}
      </div>
    </div>
  </div>
</div>
