@import "src/assets/styles/bases";

.article {
  padding-bottom: $size-default;
  border-bottom: $border-project-tertiary;
  margin-bottom: $size-default;

  @media (min-width: $small-desktop-window) {
    border: none;
    padding: 0;
    margin-bottom: $size-xmedium;
  }
}

.article__title {
  text-transform: uppercase;
  font-weight: $txt-bold-default;
  font-size: $txt-size-regular;
  margin-bottom: $size-xmedium;

  &.primary {
    color: $color-project-primary;
  }

  &.secondary {
    color: $color-project-secondary;
  }

  &.tertiary {
    color: $color-project-tertiary;
  }

  &.grey {
    color: $color-empty;
  }
}

.article__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-empty;
  font-size: $size-default;

  @media (min-width: $small-desktop-window) {
    flex-direction: row;
  }
}

.content__image {
  margin-right: $size-default;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 200px;
}

.content__text {
  margin-top: $size-default;

  @media (min-width: $small-desktop-window) {
    margin-top: 0;
  }

  strong {
    color: $color-project-primary;
  }
}

.content__row {
  display: flex;
  margin-bottom: $size-default;

  :first-child {
    min-width: 10%;
  }

  span {
    margin-right: $size-large;
    max-width: 70%;
  }
}
