@import "src/assets/styles/bases";


app-carousel {
  width: 100%;
}

.shiatsu-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shiatsu__content {
  width: 80%;
  margin: $size-large 0;

  @media (min-width: $large-desktop-window) {
    width: 65%;
  }
}

.content__row {
  display: flex;
  flex-direction: column;

  @media (min-width: $small-desktop-window) {
    flex-direction: row;
  }
}

.content__row__text {
  margin: 0 $size-large;
}

.content__text {
  margin: $size-medium 0;
}

.content__text--tertiary {
  @extend .content__text;
  color: $color-project-tertiary;
  font-weight: $txt-bold-default;
}

.content__img-band {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $small-desktop-window) {
    flex-direction: row;
  }
}
