<ngb-carousel
  [interval]="3000"
  [showNavigationArrows]="false"
  [showNavigationIndicators]="false"
  [tabIndex]="-1"
>
  <ng-template *ngIf="!type || multiple" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        alt="Random first slide"
        src="assets/images/caroussel/taichi-mont-beuvray-1920x447.png"
      />
    </div>
    <div class="carousel-caption">
      <h1>Marie-laure, une philosophie d'accompagnement</h1>
      <p>à travers le tai chi, le qi gong, les Massages et le shiatsu.</p>
    </div>
  </ng-template>
  <ng-template *ngIf="multiple || type === 'taichi'" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        alt="Random second slide"
        src="assets/images/caroussel/mieux-vivre_1920x448.png"
      />
    </div>
    <div class="carousel-caption">
      <h1>Tai chi - Qi Gong</h1>
      <p>Mouvement et conscience corporelle</p>
    </div>
  </ng-template>
  <ng-template *ngIf="multiple || type === 'massage'" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        alt="Random second slide"
        src="assets/images/caroussel/massage-dos-1920x447.png"
      />
    </div>
    <div class="carousel-caption">
      <h1>Massages-Bien-Etre</h1>
    </div>
  </ng-template>
  <ng-template *ngIf="multiple || type === 'shiatsu'" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        alt="Random second slide"
        src="assets/images/caroussel/shiatsu-1920x448.png"
      />
    </div>
    <div class="carousel-caption">
      <h1>Shiatsu</h1>
    </div>
  </ng-template>
  <ng-template *ngIf="multiple || type === 'entreprise'" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        alt="Random second slide"
        src="assets/images/caroussel/taichi-entreprise-1920x448.png"
      />
    </div>
    <div class="carousel-caption">
      <h1>Entreprise</h1>
    </div>
  </ng-template>
  <ng-template *ngIf="type === 'about'" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        alt="Random second slide"
        src="assets/images/caroussel/taichi-mont-beuvray-1920x447.png"
      />
    </div>
    <div class="carousel-caption">
      <h1>A propos de Marie-Laure</h1>
    </div>
  </ng-template>
</ngb-carousel>
